<div id="cstype_error" style="color: #ff0000; display:none">
  <p class="text">※お問合せ種別を選択してください</p>
</div>
<div id="form_content_wrap">
  <section class="form_step form_step1 on">
    <%= form_for @user do |f| %>
      <div class='container pb-5'>
        <div class="btn btn-login" style="display: block"><a style=" color: white;" href="/users/sign_in" target="_blank">ログインはこちら</a></div>
        <script src='https://ajaxzip3.github.io/ajaxzip3.js' charset='UTF-8'></script>
        <%= f.hidden_field :password, :value => "test1234" %>
        <%= f.hidden_field :password_confirmation, :value => "test1234" %>

        <div class="form-center">

          <div class='form-team my-2'>
            <%= f.label :本名, class: "text-white" %>
            <%= f.text_field :name, class: 'frame-none contact-form', placeholder: '例）山田　太郎' %>
          </div>
          <br><br>
          <div class='form-team my-2'>
            <%= f.label :Email, class: "text-white" %>
            <%= f.text_field :email, class: 'frame-none contact-form', placeholder: '例）email@example.com' %>
          </div>
          <br><br>

          <br><br>

          <div class='form-team my-2'>

          <%= f.submit '登録する', class: "send-button", data: {confirm: '一度登録すると変更できない項目があります。本当に登録してもよろしいででしょうか？'}, id: 'formButton' %>

          </div>
        </div>
    <% end %>
  </section>
</div>

