<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5JPGDVQ');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <script type="text/javascript" src="/assets/top/head.js"></script>
  <script>
      if (Useragnt.mobile) {
          document.write('<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1, maximum-scale=1, minimum-scale=1">');
      } else if (Useragnt.tablet) {
          document.write('<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=1100">');
      } else {
          document.write('<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=1100">');
      }
  </script>
  <title>AKI HP</title>
  <meta name="description" itemprop="description"
        content="AKI HP"/>
  <meta name="keywords" itemprop="keywords"
        content="AKI HP,AKI HP"/>

  <meta property="og:title" content="AKI HP"/>
  <meta property="og:type" content="website">
  <meta property="og:image"
        content="icon_black.png"/>
  <meta property="og:site_name" content="AKI HP"/>
  <meta property="og:description"
        content="AKI HP"/>
  <link rel="shortcut icon" href="icon_black.png">

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="AKI HP">
  <meta name="twitter:title" content="AKI HP">
  <meta name="twitter:url" content="#.jp/">
  <meta name="twitter:image"
        content="icon_black.png"/>
  <meta name="twitter:description"
        content="AKI HP">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/assets/top/reset.css">
  <link rel="stylesheet" href="/assets/top/style.css">
  <script type="text/javascript" src="/assets/top/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/assets/top/lib.js"></script>
  <script type="text/javascript" src="/assets/top/snap.svg.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
  <script type="text/javascript" src="/assets/top/jquery.mobile.custom.min.js"></script>
  <script type="text/javascript" src="/assets/top/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/assets/top/jquery.bxslider.js"></script>
  <script type="text/javascript" src="/assets/top/common.js"></script>
  <script type="text/javascript" src="/assets/top/top.js"></script>

</head>
<body id="top-body">

<div class="wrapper">
  <header class="header">
    <div class="inner">
      <h1 class="logo" style="margin:0px;"><a href="index.html">One Second</a></h1>
      <% if false %>
        <div class="sp gnav-switch"></div>
        <nav class="gnav">
          <ul>
            <li><a href="index.html#service" onClick="ga('send', 'event', 'SERVICE遷移', 'クリック', 'ヘッダ', 1);">プランのご紹介</a>
            </li>
            <li>
              <a href="index.html#howtouse" onClick="ga('send', 'event', 'HOW TO USE遷移', 'クリック', 'ヘッダ', 1);">テンプレ見学</a>
            </li>
            <li><a href="index.html#howitworks"
                   onClick="ga('send', 'event', 'HOW IT WORKS遷移', 'クリック', 'ヘッダ', 1);">ヘルプ</a></li>
            <li><a href="#.jp/faq" class="exlink">FAQ</a></li>
          </ul>
          <!--a
                              <div class="social sp">
                                  <div class="facebook"><a href="#" class="exlink">Facebook</a></div>
                                  <div class="twitter"><a href="#" class="exlink">Twitter</a></div>
                              </div>
          -->
          <div class="gnav-close sp">×</div>
      <% end %>
      </nav>
    </div>
  </header>
  <nav class="top-navbar navbar fixed-top responsive-none" id="bottom-nav">

    <div class="icon-text"><a>記事一覧</a></div>
    <div class="icon-text"><a>HTML/CSS</a></div>
    <div class="icon-text"><a>サーバー<br>とは?</a></div>
    <div class="icon-text"><a>ホームページ<br>講座</a></div>
    <div class="icon-text"><a>お問い合わせ</a></div>
  </nav>
  <style>
    .pc-nav {
      width: 60%;
    }
  </style>
  <% if false %>
    <nav class="bottom-navbar navbar fixed-bottom responsive-none" id="bottom-nav">
      <div class="icon-text">バナー</div>
    </nav>
  <% end %>
  <div class="kv">
    <div class="inner">
      <div class="kv-title">
        <div id="kv-title-logo">
          <svg style="display: none" version="1.1" id="kv-logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
               y="0px" viewBox="0 0 103.4 81.9" xml:space="preserve" width="103.432px" height="81.95px" enable-background="new 117.695 396.547 564.282 129.791">
            <ellipse transform="matrix(0.9065 -0.4222 0.4222 0.9065 -18.6928 41.5439)" class="circle" cx="84.5" cy="63" rx="8.7" ry="8.7"/>
            <ellipse transform="matrix(0.9065 -0.4222 0.4222 0.9065 -24.815 13.8948)" class="circle" cx="19" cy="63" rx="8.7" ry="8.7"/>
            <path class="left" d="M23.1,19.1l0-7.4c0-0.7,0.6-1.4,1.4-1.4l4.7,0c0.8,0,1.5-0.7,1.5-1.5l0-7.3c0-0.4-0.2-0.8-0.4-1.1
                C30,0.2,29.6,0,29.2,0L6.8,0C5.9,0,5.3,0.7,5.3,1.5l0,7.3c0,0.4,0.2,0.8,0.4,1.1c0.3,0.3,0.7,0.4,1.1,0.4l4.7,0c0.4,0,0.7,0.1,1,0.4
                c0.3,0.3,0.4,0.6,0.4,1l0,13.1v6.1h0l0,13.2c0,0.5-0.3,1.1-0.9,1.3c-0.3,0.1-0.7,0.3-1,0.4C1.5,50.2-2.6,61.5,1.8,71
                c4.4,9.5,15.7,13.6,25.2,9.2c9.5-4.4,13.6-15.7,9.2-25.2c-2.3-5-6.7-8.7-12-10.2c-0.6-0.2-1-0.7-1-1.3l0-11.9l0-0.6l0-10.1
                L23.1,19.1z M26.8,59.3c2,4.3,0.1,9.5-4.2,11.5c-4.3,2-9.5,0.1-11.5-4.2c-2-4.3-0.1-9.5,4.2-11.5C19.6,53.1,24.8,55,26.8,59.3z"/>
            <path class="right" d="M101.7,55c-2.3-5-6.7-8.7-12-10.2c-0.6-0.2-1-0.7-1-1.3l0-11.9l0-0.6h0v-5l0-6.8l0-7.4c0-0.7,0.6-1.4,1.4-1.4
                l4.7,0c0.8,0,1.5-0.7,1.5-1.5l0-7.3c0-0.4-0.2-0.8-0.4-1.1C95.4,0.2,95.1,0,94.7,0L72.3,0c-0.8,0-1.5,0.7-1.5,1.5l0,7.3
                c0,0.4,0.2,0.8,0.4,1.1c0.3,0.3,0.7,0.4,1.1,0.4l4.7,0c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.4,0.6,0.4,1l0,9.1l0,10.1l0,13.2
                c0,0.5-0.3,1.1-0.9,1.3c-0.3,0.1-0.7,0.3-1,0.4C67,50.2,62.9,61.5,67.3,71c4.4,9.5,15.7,13.6,25.2,9.2C102,75.8,106.1,64.5,101.7,55
                z M88.1,70.9c-4.3,2-9.5,0.1-11.5-4.2c-2-4.3-0.1-9.5,4.2-11.5c4.3-2,9.5-0.1,11.5,4.2C94.4,63.7,92.5,68.8,88.1,70.9z"/>
          </svg>
              <svg style="display: none;" version="1.1" id="kv-logo-svg-center" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                   y="0px" width="564.282px" height="129.791px" viewBox="117.695 396.547 564.282 129.791"
                   enable-background="new 117.695 396.547 564.282 129.791" xml:space="preserve">
                <path fill="#FFFFFF" d="M681.651,432.836l-17.328-36.289c0.981,2.289,0,4.904-1.961,5.885
                c-71.925,38.904-165.101,60.482-263.18,60.482s-190.601-21.578-262.199-60.482c-1.961-0.981-2.942-3.596-1.961-5.885l-17.327,37.271
                c0.654-1.309,1.634-1.962,2.615-2.289c1.308-0.327,2.615-0.327,3.596,0.327c68.656,40.539,171.639,94.482,275.93,94.482
                c103.964,0,207.273-53.943,275.93-94.482c0.98-0.654,2.615-0.654,3.596-0.327c1.308,0.327,2.289,1.308,2.615,2.289"/>
              </svg>


          <svg version="1.1" id="kv-logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="348px" height="109px" viewBox="0 0 348 109" enable-background="new 0 0 348 109" xml:space="preserve">  <image id="image0" width="348" height="109" x="0" y="0"
                                                                                                                                                                                                                                                             href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVwAAABtCAYAAADtR9mQAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAABw
M0lEQVR42u29d7hkR3nn/3mr6pzT4Ya5k2eUAxJoRBACkQwIjDFrFie4Y0ywMRiwAWNjsHFYW61d
rwM4LuuAjHe9GGN7LhgHlmRs5MWACSIpIAnlMDnc3H1CVf3+qDrdPaMZzb13RmH319/n6bn39nSf
U1Wn6q23vm+CEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYY
YYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGE
EUYYYYQRRhhhhBFGGGGEEVYHeaQbMMIII4zwKIAMvYbhh16n5Sanu9GnpWEPMU61naernyu9zukc
1+FJdew1H85nJyf4u57cx5ubD1X7TtaWtV7z4ZwjjyaspM0P9pmHo8/DAtYD7iSf1/HnKQng0ylw
T8e1TmWQ1Sq/L5x8kE93P4fvuZb2nupOe7KJ/HCeeB6sHYrjP5uHqn0nG5N6A1iLIHgk5/Rqv3+q
bV7tGB07p9cyxqtdxxLHxR7z/iQwFV/N+N4csADsA/JjPq+Pc40V3XyEhxePlHZdf2+KMLkWgR5h
IglQPAJjkcY2NYAGGevJ2Q0scCEZAGdiOYDixoe8fUn82YivCeDeOC7/N2mZj1RbT+W+D1ebh4Vk
A3gi8N3AM4EzgHXx1YifmScI3EPAzcDngX8Cbh1q96oE/ukQuPVgPQv4EQYLeDWD0AXeA9zF2nY4
DzwHeAVQnuTz9QK/HvgjVr9L/RRw6Sr76Qm75ieBD8X3dgIvIAg9Ocl3szg2fwAsr2GMao1xG/C/
gScBdwMH4ksBh4GDhOfxUE5+IYz5ZsLk9sAmEbZiONNrdtHiP7dS/e4kM02lWFRIopTaB8whXikl
XlT4olYK5xzeAc5TWYerHNZaqhxs6agq8BZcxbFPu27LutgeD2wCtgBnAe8FfiJ+9kzgHYBZwfg4
oE1YnH9zCuP0FuDxnHyOQNgw/gL4HIPn/QrgyhV+vx6L3yZsNGvRVC8GfnIFY+QJm+1e4PeB2fj+
JuCtwEbCOl5Jnz9CWFcnoyhqwaiBV8V2XrGCexyLJcIa+mPg2vjemrTdtULFn/+Fo/mN1b5eMdT4
lUKGvvPlVd6vBJ58TB9O1sdL4/fW2sd7CML+DGD/Gr7/o7EdZpXPqP78CxjwVafyrE7/S8ST4GnK
frWO/9ncqv3kuamfOi/zG85v+E0XtPzmxzT9loubfuvjWn7bjjG/7XFtv31H259xSdtve2zLb72o
6Tdd0PAbzk391BnKj20Sn60Tb9riJROPXnW77gDWx7H77TX06+sMjqcrXdj1XHsiYVNfzf2+zEA7
OwM4soY2/3T8/lrW4Z+v4X5vHLrOL6/h+7cCG44Zu+ONJ8CLgC8c831LWNP1duyGXja+qvgaXjcO
+EvCRrzi8Vrtwn0wnB1/Fqt4WHWHM+Ax8b3V7DieAR/Ti+/lJ+mXI+yMiwyOkSdD3aafiNdeTR8h
PKwM+OfYzpJwXNm0gmvVDzjh5Nr7StpRj8GDGc4ebqpJRPAe0XiW8Oxx1jtXOUGJQ0RQ3guCQsCD
dw7xHvESOuA8znu89+A9+KDwSNRtTtTZY9sxND6GoM0MH0FhZc++npePAy4BrmP1p5IxwlxJCc/9
wZSCen5ZBtSQIpyG1q3g+8PXeD7hJLUW+8bcKsaovt/s0Hvdoe8rjubPj4WNYzM/1Odjx3fYFvCf
CEohDASnGnodDycy3FrC/HgF8Fzg5cC/cWLbQx+nQ+DWN3hs/KlXMNjHwyVDA7kWTmd5hfevB7FH
OEafDPVx4TGEo0g9biebwDXqDeUO4Bfie0uraO/whDsy9N6poDYcPGrgweM9IArHgnNevPOCiA6y
0yMiiIDC4xn8DYIXj3gQH68mQdgqFVfBsTbpkzYHGCx6gNvjz4SVbUi1QHgZA4G7GuwjzJEJwvx4
sOdVt3eOwXrsEfhHVvB9htr3bOAigua40qNyPar1/VazPpaHfp+PP5Oh667k+93jvD/Mrb6HQM9A
EPSnIveEAWViCSeJfyKcPndxEqF7qouu/v4FDFTr1U6s+hqPIRh01qph3bfK+y8zELgn45sgcLeT
hAe20nHzhElbEbTjfYTJtMRgcq1UeBYcf2L9vwHnEQfivHeWOW+9d9bjnEPwoOJjjaMlBGEbFNoo
XAEVBW0tbEVAarEpciqqe/3MV7vZvZjA59aKxMlQX3+B1Rsyh+fHIrBnlf2zhDX44jWO0X0r/Fy9
LiwDJQLC+qhWOU6zDNbk8Z7NHxCEbU0TnK5TfS14K8Lp5wMEvrzmiY+LUxW49cBcCGw/5r3VXuPx
p3ANWP3kVJx88DVhAJ8C/PjQeytFvdP9HmEXHNYYVmNwg7AAV7JB/N8K773gLeDZ671456Le6/2Q
83BgWLwH7zz0XwTpG3TlIFyVBKGrorwWH5iGteFQ/LkaLtYT5vULht5b8XiwOqMVHC3wFCunzI69
zqsI2vlKN4n6M6tdgzU/WqN7zN8nGx8YaMjDY1sbfl9DMMJxnM+cLtRCNwH+B0GG2RPd63Q1oDY+
rXR3Gkat+hvgqfG9tQiUlU6u4ePXvge5X221BegQjB8rnYDEz2rg34Grj3OfenKu9Hr/r7vwieDr
TkpNxfbPO/ENgaAN+8jh4vHe4Z0NP70/+mH6IS0XQWTNw1hri6sJVqk33HqzXsn8qa+9n8ERfS3r
oWKg8a5WcD8Z+N74+2pkxGq1x2OpjpVQH8e29Vh6vtbULwTeHd9zq+zHalEL3fOA3xy65wOe9ak0
ohZIGnjGMZ1fLerBuvIU2jO8IFaC8iSfrzXZVxOOWA96VDgG9WcXCFbYJQbaco17TqGv/08i0K8C
9phV5IiC1D9AoLpo//A+UsA+8AzeD97zLgrvU8OwMFmtx8GLWN0aqT+zVlcjTTAe37/K7wkDDfPV
Q21YaX8PrfBzNRbjq8YSqzcMn6htv0xwL1sNBXgqGJYX3xV/f8B9T1XgQnDJqDXTU+3YZQwE02qF
98FVfl6d5P8qAiH+a6u87vDSfifwTcJiPXbxPGx+e//XYHCIFiSytt6LrykET/BEiLRB8EhgyFjG
4AISvRlqgWvr669Z8q7li7VSYoA3rOFep3qqWcv3a8HxPcDT4+8rNbjtY2UYPmXODb2/l9Vr5cMC
upYdTwR++Jj+PNQYPhG/Pf58wGZ1OiT/ZcDW09BYgHMITvnD760Uqz3OnOiBDh8Zf5Pg7nZCTuY4
qD/7VwTn6Pq9E/V5hCF40AiL3rMvEre+FpTe+SGhHB+R9zg8TuhrtfVn+h5iDH4eNz3Jmpq5YtTz
5qUET57VnJRWi9MVyFRvErVlf6X9Xa08OfZprGZcj8db199/OcEzaC0U56mg7v8LCd4eDxiT06Hh
fkf8uRatdLgdjuAF8IQ1tu10GZJqY8er4qv211sJai56N/CL8b3TFbn1qHPleoigsOTAYrRw1Qrt
gMcdpguicO1ruLUL7oAPDoOnouz28nCbHGsBNg686SG8BwTe93Re7z8S3DVXukmcDnfF1X52mBp0
QAv4/vjeWtbLsYEVq21/LeRfFt87ykVsrQt42CBQ0wlrcZQ+tqMw2Bke7t2pHg9LcHGrye+VuqkN
f+5nCaGzx6MSju3vSrHE0U7i/4/CewwK0AOPg75X1wMz+HiG+Nua840+ubUfrg4v1m4wO1XUN34l
wf1xNSem1Vx/tRzqiVCvg0mCOyScmkL1UOJY49nTgfOPeW8lqN3G5JhXTUatFPVzfQnBh/oo+XEq
AtcT4s0fd4rXOnbgvoMQHbPaATtVDFMJ7yLwt6sh3Gu+5s8I8fPDnM6pYNj9ZfaY904XhmXY8cIn
T7Xtx7vHiftRDZiBB3x6iLetvRaidttvb2Qf+mxC9AbzIngRf7z+nai/p9r/GrUAW88geOahwOkU
4vW1XkWgQh6JCMS1tPfZrM6lDQZeDIrgPbTIwHg4nJZxJajveRYhV8Pwe6ckcCFEpJzN6XkY9ffP
JwRSPNyoqYRXsHrCvaYSbgd+aag/D/aQ1uI+d7rGuI4NLxns4HV8+MmE0EoxfE13nHvUP4dj2SOB
EMdu6K5HabAMAh5qN9z++PgQE+GcF2sR52MEsAtKb4yYOFaLOfY17GJ0uoRYPfY/TliMD7Wr0ulo
ryWEGL/mmD48GlGfsC+KP1c6Z+vncDeBs34sIQnPxcAPAB9ldWkjh91cnxXf6z/ntUZd1DeuJfjp
MATUHdKE+OS1hEOuFXVAwrnA7wz1aSULYpjjfTuBR1tJSOQjEbxQT8p0jd9fLb2y0uc3PHcaBG8v
qUW0xNwIPhK0LkrVYQ3YOdcFyhASTF/MWxu8FFxteBs2uD0QDcKaqNdFj9MX3VdruduBHwP+8yrG
55FC3b7XAn9CyFh30nwBjxBKAn97zjFtfzDUa/wOgqHr9mP+/w7g74D/DryZlcu5+rpPGPobWJvA
HeZvn7+Kzq0EtXW0dkd5OITScH/+K8HjYjXx1nWb/wT4e46f3PiRRt2e64D3ESbCfQRXuoOECLbj
hUYOG3x+iuACeLKNaHgS/z4hYMSf4NouXnMDIaT0XOBDGO4GGlE2inMxf4KW4JMr1OLWgxfvweF/
NhX3qYpkQlxpq3h1H00qth6BEz8ZIQjDMQKddBGBGqqTIp3OufjKODbzPHoFGAzcIzcRcgVcfWqX
e8ixjpCCFFYWYFLP418gCNuEo2eIJgjyXyH4Ul/AyhSx+t5bCWHdS/E9fypxxWcycOFaCVaiHdX/
v4OwAI+wclV+ragn1asJdEKtZa8EtbC9jfBQVoOHU7upx34ReD1BE1hexfcTgpDYwMmfRT0h7yIk
DVkNQrt6nOFbqJo28F7wzgeLRsyT4IkBDv2bqlv33e/uOMWEat88znunM9dpfa2LCMf0/8ajX8ut
hcuPEvJHH+DRm5C9TZAbsDKBKwRB+7H4XnVMv2pq4Aghj/U7j9PvY6m34fteSpCTt8RxtGvhkOrv
PJ1BHsrVRM+s5NoXM8g+9lDzXHWAw68PDeBKj821YH4rg+TdK9VWHu4JO9yvWtjWx2d9glcdLr2e
1VNG9WaePMj19VAbpN+uBia61eIi0+s8OOdxzmOtx1mPdcE65pzHu0iTXE7C0Wn3VvsabteJEqKc
ipCsv/sWgnBYjXHnkUCtgZ8HvG7ovUcjajJpJaif6zd4cOWj/twXGBjR7dCrdtes58xw9r9vMoj2
c3BqmXPqbOl1eO/JOrePIKAfLOfB8PWuiJ18qDA8yTuEnWg1VELN57wb+DirpxIeiUV27GZyskQh
9eQ9FQ3PsrJFINQaoOBxgXu1kT5QSo4Sf37YRSzmswHgulUtupXgeMLlVIzEdbMfA/wgwavl0UhD
HQ9vAP6U4H72aKRC1mJYPpm2Xvfx6wxOtMPyriLYbfbF153At+LPLxJOlf17rFbg1gIxZZCw5sFQ
T8yDwIcJx5KEB5+w9ftXElKrrTU/7slQD9pOguV4tVSCJjyEq9Z4/0fqSPZoPArW7Qpt6wIpuCER
pLxHexAVc+D2DWD0E9Q8jDhVDbeeP28mRCSupWzSw4l6QziPEDF3zSmOwUOFtWRYu4LA/c5y/GdQ
y6q7CcFMPwjcRKAibiXItj0ETbZ3gvv0r7mWUDwIxoWVlKepd4d9hHyRq9nFLyc4Dj9UWCIYSGoq
YaWO3cOC+R0E8WBY/W7/aJywjxrUqRedBVuBdYFecNbj6hplgUrAeY+tVprV7/Q07xS/X1NPlwHf
F997tB7Ta9Tz9U0Eb45HIxWymmjMWhCewSBRj2dAbw2jft6/R1AE30jw1f87QqWH2wnCtqYWanrq
AQJ8rQL3UgL/tFIhdS8hTeGdx3Tgwe6xmUEU2+l8sPW1EoIL2AWsjBapUQvWdxNK5tRGt9Xi0arN
nC6cUv9kqKKUd/QFb1VBZSOP68C68LM6OuJoNa/jcbcrNe6ejvGpa3qdCqXwcHnzeEJimFpAPdo2
iSVWnjN6+Bn+duyTZ2A4qykuzQMjz+q+1/RCLVzrWTvse34U1pqv4Dkr/HzdqW/En19ZwWDUncoY
pLR7KCJonkTwh1zN9WvB/DkGVML/64JzrThloVRnQ+hn/Iparo3+tW7ohe1vhKstkHm8goEn42hP
V/QZBJ/zH4i/r9WX/eHQNAVwElr4Y6w+muvhwByDNK2rCVJIgfcDM4Sgp00MgnLqwKBaqA4L1+HC
kyuaE6sVZPWkriMoVrqL1IL2ayu8T33dy+LPhyKvQsLJ+eRj+64JoX9vJ1AJp5KY5tE0UR918H29
c1Ayxw3lYXQxB64j1CurfF9YPZjXxfCr1lA2ESiySwjz+vmEBfhQh7IOa0tvZsCTPjrmRWyFGEia
ivH1GTpV2lu8SdUzdHpUgvJHg9JhCFz4/fU+PdyP8Ptxh7Y2/nlCwpkPEuTUDMEr40kMCnTWm/Oa
IxBXYzSrG3YJg/C5k2kBQhBM18f3vklIjJzx4BO67szlhMWwm9NvVKivtdoJ/l8I1sdT9c98NEzS
RyeagBKU9phEQvIZiTV7JUTmxthfqbOICfJbfox34L3x3gUKuAJrPd4KzgfeFwdifU0CKR8EbkLw
oFkXW/DrhATWpyeZ44lRb9jfCTyPAUX1sHksKCOMTTYxxpBIhlZprKARMqzZJc/8vGWhe4AJNnDO
syfdwdu6Wqz5md//77/zkZ07d9aW+wABpSQmfX9Yp3hdO/B64IfgKLEb4P0DpUj4u5Y3tZfSGQTh
+zICN/tN4LPAPxBK0XeH7lmfklaEtQjcJxIyqZ+Mv60F6g0M0sZ9m1Dp4DE8eJhcfa9zCD65uzn9
E3+1mYQUgSAfDv19uO7//y80oJFAkmi0MWglKCUopVF1qRyCFiwQgyL84713WBv4B2cdlXWBgrAD
KiIkIxd8CWLpF68E8GAJmvLl1Ir08efo6Xx29T3eTBC49bp6yKSVUkKSJEytnyRTTe6+/yTFR54M
z34MfPYzh7h+/pBCA3t41s6dO78T+BQXormNamrTOL08pztf9O/jh71JHlrU6/Hf8ZSc6PR6PB+E
AepqvMPeDg2CJ8MVhCyA3yB4luwiBPfAKpSv1QjcukNPGfrbnOTzKjZwNjZqX2zkY1j5hHou8JlV
fP6hRGuVY/ZgeDT0Z22QoVks0Q+29osVBqXLq7V1cWqqCeJJEoPWGq0VWim0jhquClquqgUuHmud
s856ay22qrClwziLdaEIj6tCoEQImAgGOFcBTsQ7ED+UnMHRpetj7yKyIOZDNIZ4CaFuoZ+eeAEG
fsJRmRpOuHMCOVprV99HmOv/yqBG1mmDUkI2ZphsrkPpjD2797J3zwEAnvD9sGXiLC7c8HzOO/ux
TE612LR9K3bRM3lGwrp1Y2zftI0bbrgNq4/IxMaN9sDeWX3DnV9986++5g8+teuyXdXO23Zy5EAo
wXbhuefQky733bm/f2/nHvLpXt/g3xHuBi6sH1BfsR2at75+Fg9s1rGnmmENVhMohicRPJT+Gvgt
gktYTa08aEdXKjxqkrgFPLN+hiv4DgzohDo37BcJNX9O9v1jDXSPpICqV8qTCceV9/F/j7P66UHC
kK02yqbhqRlzHKA8XsVy5AtruRE0mw1UKhhjMEahjUYrjVZ1JV6FislxhbCarHXKWoezFWVpqaqS
siqpKotzLriOOYutXBC21vc1X+fqlRn6IxZlj01Zk8X+xQTmHsBJTBMZhXE/EoO6DpsXj4ivt4Vj
hHK4p3ioxGN8MEb9K8Pz6jgyum7GSlfE5Lo2zeYY+/bkdOcP9N9/13t+nuc8/flsPmcb7fY442nb
p0aJZgLHHIqEwLLkQMoZz358/KZVXKR5/hUv+d43v+ydL9wwtv1TAC/+qSvIi9s4vP9u9v/7FE95
4pPZ17uPe2/ZjzKCtyvQdqUez+Mn3/BxM69Tcw4nlCOsySU0H0Z4ZwifOVrOhEcs/XlTs7J+6CYS
f4mUSPBW8H3don7Cmwj5RV5KsOn8dbzCgwaErEbgekIyhicNvXci1L6qSwwMZXUjvjjUsJUEQDwm
3ncvD/FR6yT9rz0UXgv8L0LQ/qm0R/pa4dBNHkAvCYPMWA+9lnB8jIOYEOkVm9NfOHJsB0QQHX6t
VitwO+HVmGpiFJKkCUYZTNR0jdEordAiqJDcNmYQ8zgXBGtVWkpbUFlLURRUZUlRFDhrcWjK0lFV
Fc55jI9+vO4YQWBh+ZgKeboFWg0i22qvCYJ2HJ5TPSbxO96LEAoJS19QD+tAA41aRx562hv/ByyH
NSPZYIJ498DxrqsP9Xe/ulz8UJu3rN/K7vv2Mje7BE+Cn37RG3nBdzyPp1z+VDZv3YqiYIlDFK7H
vN8veXkA5xSlO4JWcP/S/RT+bi5d94OMyRlYn9PUkyI0qsnG1rpW26cAPvSufxbfKLju+i/yB3/2
bj70kc+gPVx49rnML3Q5ML+PJNGUeT1oHD3hs0jz+KMFQy0k+6eIY/93cBaQeJ2/xslbPTRjLuRa
hg6tsUhLRTus+LAdStwRfZ2Rrs6/7CCYb/uy2gHOe79d4K9EuNw5fo7Byf64Qne1x+NnAY2jRuL4
qMfoAL7vElY34HqERWBssGNBXwsYLN76LmfieSrwjzyYVqkGd65LYdekfb+5x0q0IaHRv62EB1sn
ABw8WgmDKDzDe/8yLH/FqWi5LeVFjjOAdZuGTzu1I4rm6JJ7DxfGIdWheoJIqFJTK7dH7QHh/1FG
wHm/uHdtt5uamsIkzidpilGaxCSBy9Uq8ri18UwFOsFVuMpibUVlLZWtsFVJXuaUVUGeFxRFgbUW
bS220jhr6RentEEDrlejs57lYx5rewJQEoVt8P31Q3ke6nkiMQLZeXLvsM7S8kPTSGTg3tYX2CCI
WBQtnHoby+5Hwk3jlDhGPokM5nQo5jaYN8M1cLdPnce9993JE75zkv/6s3/CE5/8JFrjMNFeR0nF
HctfYDbfTe4Wqdwyy3mee5cmS36/SqWNLS3zZj/ijnBo+W+YGEvY1riISXcBqbQ06Y00/MbvXS5v
e2YrufDzNA6qJtv5jsf/B57wW1fwk6+4jg//wwf5p5v+F/s/Als3bWfvgd1IizCJIEi8ofgsn9Xv
DzaxAX0lD1RO5Kg+h0oaS3xdTcoHPf513mFFgpyTqAYOnzLqEwrD9xm2t/ljxnfwueCp4MV6vPZe
3gGykcL9GA/Cw69Gw4WEZ0kYBQui+wRJ1MAGDfbeKwHl76DH/KCpAByiITfgeboXPAqReufnqM4J
UCEY8E+ixz8+aAuz+vtDeatF+trHUQzLMRqGr4VZLXj7Anto4ANt6OKqeguzfoaBu9rqVc92vcUe
7a1ylBdLffM48Xyx6rucFoyPgU6C4apumRKiABpqIGHDMklQBRfJV3WfTnw1pxq0jCHLMrROSJKU
xBiU1mhRKKWovRPC43TYylJWJdZWlLakrAqyMiOvctIipyxK8rxHVVVYb7HWUpdTdzasD+diKfbS
c6Q2RE8DM9CayELpiBDtJsNlfRD6JSaU4ESLcpY7vPc3Ai+zlffeIc55RNVW/Ci04/OPpdrw3n8/
E1yc38ktyRgKid4VHKPlEnlIH/yQa03NLQ7afO/9d/KLv/Im3v62t6GnLIVb4Ei+j7sOL3Dvwh14
6TKZbeHWA19zFT2V+g0fXyj3PzXT42c0rPNdulIWC2xsb+OIW2bv3CFudV9gfXY9T936HyTzEzZv
3ZxU1da3AJ+vqp7PzfVYO85Edj7Pv+K7eNblT+dbd7+J//OSf+FX3/uLPOvxV/C1b93Acm8ZJSpw
u7XAnQga7jAzcxRkaK0E5ir0f5EHwCXu3VrkBxGmvMOJhLEMXhSDk0Y/d7LIA+mOOKbDNUL6Yz/Y
DLT34uLDeA0Ze1joFyF4AFYicOvjtKEpl3nxiJO+Zto3GqijjAMiGsTzJRcGc5g+WFQtuU6Uf7oI
zvuwdmtyRI69twKcPNee6d/FbeScyPLQpnbNHrS61gSGNYKhm9THQyTor/06AMduH9J/W0kQzs+U
Cb6/uIcPsUYttzHuvESNSYa187rt9ZjU/+8gLWHuEdBwx8fHkUaF0kG9VQAxp4EQjuQSVTuFoDMN
1gvkAym6IoQPT01N0Uw0WdbEKEOSJCQ6QesgdINbWDh/OGfx3mGdC9ptWVBWJbnNKaucsszJy4Ky
6NHtacqywDlLhe1rts47JFILosAWnmPzjrfXZ0gUys5671wQukC/mnD9tzIShLKTv/TevRCYcNZ7
7304jmqJ36mLWnqcR3nvLeLHnZU35FRvH1sXFpGtwj3qdVLP0Prezte8pLB4wLFr1y52yk4++/l/
5AlPv4xb5/6dfbvvJM+7GGmQmTZ75+9juezSzW8hr0rfGG9QzN97Q7dcuqVMv/3OdXaTm2CzPmT3
M9c9RKksy9UibZ/QbY0xu/ABtrUuVsb0GM8mfvCv7nzRub3i4GLPOI70bmd7w5LJBoxSPOn8y7jk
nEtpja3j9/7+J1n+Fzjv8Wdx/9y9KAW92dCXLGOg9Pih3zl6Hcf/FxWdsnpHV3ILR/qD3JKc7X9B
tLzXBe9mp1SQNRLZlz53W3up+MEGOHw/VwtmPzT+Q/SRj+maI/nwi7T89XYff8VxvBdWInCDQNnO
E5Rnh4TztxreDVTUIOvBEMGrIGK/WBzpt8txJYZrqdIJ902lBPGoetfoCz8Gx1VP3JU8V1jL1l5I
IHFcgZtFget8bM9wB/RAfA7OduGz9b3rBxH6MSRsY4ukZoEEqxK08up1BfZDrDG5TntdgqigMQ23
zddM0ZD2FASuUJYPa76APsa2A1UW3XyiT2w9YHGGOh8yeokIJlW4NXooAGybaiK6QZY10SbB6PDS
ymC0Dl4KhBOIi/yt9ZaqqqhsSVUW5FVOXvWoqpK87FGUKWmRkJc53llKW1LZAhctZkGQOhEt+OKB
9FvWykIhypC7IebPqSkJj+tXEg7j4Z3fJuhvO2c/rAw/ZkvvBNH9z1BTE/H06T3Wxt3M8ZrWc5Lf
V06WRDxVGd3dIGr10ueLXdTCTJogoln89jwzO2cAePIznsY3lv6FL979ETY3LmV26TBz1d3krsf8
4gIHl+/EuoT1zfNJzH4WFxeYXTr0P5um+fZ5NWfGyf2Gya1y78L15K5gc+sMnLXcfvAORCpulm+I
JrEbN5pszG1+3ad6H/y7dpaQ+HUcau1h++RFNPQkY2YTRjX58enXcdmlT+CdE2/hn//4azzmqefx
7YU7B2M8SX81eccD4hRkSFHCgwTxSe+BdKkH6N3DNROPk8ephJ+hGgpaqG0QkQ/zw34IasjKVt+v
FrbxLe9jJREGhlbvERzWCxrkN9W5/jNLd7GXY/jcFXO4jRY7lKItPhiP+iWqo4o+JDW8BLvGUiJ8
+zBw+eWo616C59rwkdaYuV7ELYhiPBZTUceq830hGDo+7lFP7mHvPlH7mhMqSFpHXzD0NQ4drtR/
gENHExnihWpOTx1Fkg2OyqIApbQSvGh5UftK9aL7rl36BNMoZlao5XbCqzWZIipqLpGLlP4RefAg
EdBahYXe0Mxd//CruONj41RlhTYSvRHCjjAoczMwNiglqEThy7UL3ObUFNpqmo0mogxGBw3X1C5i
kvTHDMB529dwS1tQlDnNqqSwOUWVU1YNumWXLE/IqxzrKipbUJY51lZB6DmP896LVth8sIDj6ZyJ
9S08DmfD2VEh4rzD21rLDO5n3rnwDJ1PnFivbfLfUerHvEd7F7VcAj1T2WDoGyRa90oQp42sdzmv
RnuLFlzhhjTZ4N424CHDRDWJpqFa7GaemZkgcP/8W7+EUU2q7jpuXfg68/lhqqrHYn4IWzmEMRpp
m7mle0htic3T8Zmdu2/50b994odcUrz8vrkvuT1do9vNM7BFzr1zX2GydSZWSlqt7XS7syx1b1aJ
ejI0kh9Z3H3D7co7Wv4MNbbOsFwuMJ5tZGP7LCbTLYwlOZc/7mn891/9ID/vfpx/fO/neNHLX8Qn
bv4EEDVcr6ItYFjp6ZvNBkI3Bma4WkWtH1T9lSjo5i9179hyV7pZj8krXPCSqEJwDGHzqseSKBWj
wtb///pqQ8yZA3Q81QwMpOA9GqFCcbb36q3gHkAtrETgOoBmSz1bhtNr15phX3D1e+qMURrHN/Z/
pboJ4LrrKLlucK3D11dfOPMZ6b3KyCXO+aMCUoRodfDx6oJVWjTeX3kI+xGmkaGB7Quw5mQWuJm6
LMCQJqGUQmkV23m04B3eRr13g53sKLej+Hv8qZQ4kyiNl7fD0idWLGyH0BpLEKP6Ajc8Sd+fLQOV
2oejvBNM85HRcAHa41k4bkfNVRvV36xqd4ta6zWpoopaYnw8q0Kj0SAlo5E10cqQJimJTgKHqxKU
0v1TSDiRO7yzWFdR9jncYDArbE6v7JKWCd1ckxUJpa8oq5yqNFSuxDqHD+nIRBlFlT7wcbYmMjQS
EqKDeO+iT66nquv3eLDe14Yxi7j25//03i8/7UfP/rQkvMAW1nnvtVI6jKV1D9SOI2/lm+5HnJdS
CbjMq3o+uJh0vdZ2rPe00jbj7XEOFd8CYHp6mpmZGb69+5uMT25hYaFAe8WR3m6K3j6MWo8Tj3c9
fGmxVZeigrIsBKDyc38gPfNDzXSbzvN5v7y0X3TSQLJ1HFi6lyxt0y1uxviExK+Xg7P3c9jdf4bR
8lqTehw3cba+kswc4tDSV2lnJY/ZejlTjY1sH3sKj936JP76PZ/g/d//R/zkf3hnf4yzLAMTIgv7
J99a2MWAlzj4YfPR4Cs4gcty0GZnsPsoXnnO81q3i8ivKCXGWe+sc95bJ/0D8TClWZ9AvO//7YZs
TLUxPXD+tUHTRx7dK9GCc/zolifw+/u+yX6GTsAnE7jhg5eTZKl6RtDIovLVF0ADPScKKjFGgWfD
Oc8z/0l0FHVqMAyiqASaCDgXjWYEwSNK+pRA5E69ShTe+idDThRuDzjCtyeywHc5P7DoRo8FY1Sf
OlBRGwtyWeKxJLYsahn93ihBK9U3L/fNzBKVYOEFj9+55QXX79r36elp9MwqBG97vCEqEWwZu9Pf
sXw8MsfJJSBa4Rw0q4fZTSHOwPFx8Gi0UVjtIn8rKB3GtSbTRIIQNg2hyteu4U41p0CJtBotjEpI
dIY2gVJQSqNjeG+tfTg81ju8D54KQdBmQduteujSkFQJJjXkhaGwBWWlKStFVRkcNhjPnPNaC1X+
QEqh3coiVQDRi1/AY30IpggEnhvMPee9F2cAGu30vyH+BT5JwulIJFZ5rw1nfQ0b771C8Aou9t4v
R4VElFLh/62LrnDBcGh0wlJ3lgvOu5yff+HP8eIPvqav7WXJBuZ7B1kqezSsQaxFZBznqyBAROGq
xSDsEbztOYC/fOld//7yD0x8LGmqF4vH4Z12uUchNLL1OCr80hylNnirwM/jfKVMUj1bupAauC3/
CPcdmOCMjc9h76HdHJ6fY/1EwlPOBaM965PL+LEXvpV1X9jMDz/jxwDIJjKUWERLv+hnX+jG9Vcb
wb33iFZRNvZONJX6Llp3f2b5Vy/87vHrRHhn2tTPAE9VVHgX6HgZ+AL1BW2f743PRqLA9UGrGzpF
+77AJspjUWz3Xk9D+YfDJ+AVCdzzJpJLrKjzAlfho20pCC6v1CCET0AppZSIV8LFysh/VtFnsm8Y
qq/qBO+8lxigWUco1S4/4WIeoKa6H/PEH8ou+sbfHLyVDkLnaIHbHE/7nCj9NRGgtA78Yu1NEXkK
pfqOAk4plAsWa69EpBa2tWYbPuf7O42Ir0yqTVW51wOfnplZHZfbmsy8MoIthkzPfSZDBhsaoBOF
KzzWV0cJwocPYxhj0akKm1f0D6tPC6J0OAYqQZQiaSiMXkPk81WE00qjiU5T30wbaJWSmDQYz1QS
54eKpwJwIWgf55213vlAF5SRSigobIIpNXmVoI1CG0grQ24VRQVFGagBvBN82NzLxA41PkivVrs9
5I0QtdvIIQdez+Fw0RDjQ4SbCkHDFz9x8hP33dn7rErUs13unVJa10Y/71xMMRkcUAPF0Hfvb1Uu
OsYwCJN1ziGiEaCZtllWd/Lcpz+Dy664OLZ4mhlmODR/PzqtsHnOrMsDEeIF7y2iDK7qAQVIgsKj
3KDbUhS/W7jmi0Sspso9ImJdAVUZJnhl8Ti8L/El5EtK5o88zru8JVrnpGmBk4J9rX+mPZmxb2yW
84ons2dyL6JuIp84wKR6HC9/+sv54Zi0rzEBYhOQ6ILgj3b/GmifQVhoo7Dl8FM6LvopCG775MLf
T0/z0ZuKyR8Qo1+vjVyhFOsQsKXDOR/P26qv9/l+UMRAonoXhFn/aO6HFr0g4qnQGFv5F0P5h8NK
4oML3Hh8l/HkmQ2Rtrc1qyFHa7hytMarlBIRvBJxIrWRJQqt2hVKiaJPVdYaiwuaUy3SozaJiDOJ
3lJZHgfceuW1qGsjPdGJr2Y7Q4ai3iWqx9Y6tIRopeHTSZ8yEKxOta7y6t9FybhOzQ5BXAgcjRbs
muYYYntEgu7u4Qe/6+d2POuf3n3j56anUSfTcvvtbWWiUoUtXX88/ZBLW2he1CSN4DJIpL16IXY6
MA6JM5jMII5Az8TtXyHBMaSf70DRaCWUZu2pJhrNKdJEaGQNtEpIVBIpBYOqhS0DLhkga2RaKYLR
zFlKm1OUPYqqoFsu062WyIsGedWkKHt0yyV6ZYOiXKYsC3BQFZVSqUKLbcWm+L62mGUYo+u8DdGP
tvYVioLS1U5qLmwEOqzIa954XTn9a0/9QxTP9plXSpTHiwTuOGroLmymUeBCOKL61NWOoNFAGMlC
8UIzHeOG2S/zI095I99x5dPYdfsHQqunww9rLeJyHN4nqoUtZ4P3kjKIzxGW8BKSpqmo7AB0OqjO
a3v/8or3N/6PNtXzisI6yLWQ4G2O1jmVC94BVfdMukc2sDzbgLHNkrSbKKmwlOhUI9azfNjQOHKY
G/d+lrt2f5XzzoHvuvRdnLUuZb+/rv/cswxEkvhsjz7e14vC11WbtWC0wq3MVuDjuMRT6NyHgA9d
9sr1l4jluz280CTmuUrRdHi89eC8rQMdxNfixMcN1w+8F2qKwfebiHfo6Jf1lItenJ1/6/+eu6PW
ch9c4O7AMwONRvLUJFW40lvA9K2EtZBVUdAy0HJERCRY7PpWbaGOECJ8ZqiVAzeMAV9av7x33jQM
VemfA/z9tdc+UKg1J6LAdQp8uJ8K1uKoeddCPzjMi/c48U5ppb3zCyT+VWON9jNMw/xF1QuFt0V8
iGYa8lNRQQ7jxYsHmzWUsYX7GeBzMzMrTzzSGGthUgnW/HhM8ZFacc71NymlNUlicNbTMM01C7FT
wThgWg2SzOCtE6V18EyIKogohZIQbqu0otHKSHT9iDqslsWdajTwqaaRNTEYtEkDlaBMjDKrffhq
9xew1t1QVvaAdxhXVVjnsTaObyVIpVHOoH2KeIfxBQmVd6rZNknS8t5nVrsN3leTOqs+C0GuRYN/
oBSUqqtMSODsBs/O1htzPIs6a+PRk2Bf3Hnuh7Ir9n45aein2tJZ75wOlEIQ2N6bGPFW84eB9Ao0
g6P+rPMORfBFVgqerK7g+Vd+F1898mU+ccsfAvSNZtrNI86DFXF2Fu80pCkU84gvwn1divhlVDnI
wX/tc6Nl3c7+sffyPEUirrCI9CgWoTd7Jr3F8+gdPgtUQuF6bHjM9Yyddw/YHJMqtBi0aWLUOA3W
03BbSHs/hM4dN3zjr0jdB7n8Md/PWVu39J/7pokLyf0RKvIYXTMgVmvvAM+A2tNasMkqNvZa0wzC
z33tLw/fBNw0Pc1/2z2+8cLK6f/gvH+xSnmKSdQ6D0Gge2ej65fURUulzg/R3xyDQFShjQLeKSOb
klLOA+6oNfATC9wOig7u8jdMTdLTT9KJwmqvEIY41j6XT/+IrmRIWEZfY1V7CTLI9hQFl+ARLf2V
o+qMJAyO8s47EaPRWq68/A2XJ9ddc90Dwmqb7SY6iQlJhjwSfNT3VZ/66BvOPCJijMFX/h2f+NUb
b59+11OXqOSOdFyd7yvnvKDqvoRFEASMihqWwysRME156Svf9exn/eXPf/Zz07um9czOmZNyue1m
hs5UpBSi8HJusEgJ99HGkDQSqtzhWye76kODsfFxJNEkqcF78Sq6pXgRRKuB1QHQ2tBuZpSyegNf
ZBSg2aRhVNBwSVA6hvhqHQ88KgZAhLwk1llMot50+fnf8dm19K/zsZ+aWFpcaFW93pkiVfq7r/7Q
5yHI9E5nh59hhixroXQIknC1oB0YSoL2CdREo68GJuw3XHO5uWZmpnzjc1/4Pp2pp1baSuSMQ15f
fN+XN4xkFMS1F4aNPsNDXFKiE+6d/SJvev5vo7c5Pvr1d3BJ+jw+wWcGHdMCrsSXDsQg2uBtBeUC
GAOSILZAXIG3gnJB4G46EG5ctvlbM8tnTeKendvKzu6e0kv3P4mKbaiGIt04S7J+D5u3HcDovSg3
CSqj6vZwRiiX9qDYyzJdlIbtm57CVOtSLjj0Q9x2+5e56/4OT3rSi/rNveDCCzgyf5AjS7upbBF4
5aETdb3BqSh3xDCg5FYOz65o+r8adeW1qJkZKjh4C6Gc+e9f+RNnXWq9+w4UP5RonqMT0VXhopXH
ibMuKmL1pjvQr+pN13uPNoLS/vHAP+/YgZ+ZeRCBO30jMgOIbZ6vG+7xogRlouN2bTSpuYR4o0AS
RO4zzliJgriOLIi21pAFSmLEUIyF9Aw00eHvIz5IaseFZ2+vzrsOHsDjZplBpyYYFYY0XBeJba2D
ZiRoRAXOL20kxpXyob/8pc9eMz09rWd+fmbvq373uX+dtcwvlXmwhEjkpyXmY3XeDmiUMBNskmld
5va1wOd23BQW6MnQaDXQmaJUtt9f5z04GwV70GJECVkjQSlHziMTajY+Nk6lHEkaNO1ak9U6qZ2E
qVyF1ppEhQixPrm2BjQbDYxSNNImQnQHk5hPQRlE1IAWQnA4KqoxgK985SvJRy//aNjwrj75vTqd
jut8z3vmgXlCvo5heK5C6ARKQZTHVRbnXfTii9lR4jx21FSWwxmHikE42/eMh2mukhnl+elmK7nE
lc55vLKRg+7zgXGxOmpXMYt3ST8KLnxEqMoel535EiYe0/D/dPcME9Vl2OqYjDtVD5VZRIkXleGr
eYQSqzTWKZTOQBYHpTLy8MxmpnFXdjAzO6le8afmA0WvfPa+bz1W2YUneVQmqrmP8XNvpbXljnCy
8RKMZ9UsYsaCnlxVoe5cVaGSDVSl5+57vkK+8X7O2voMNmx5Lvtv/A5+67fe32/u5gs2MX/Tfsak
Ra9U2MBhPiAYSEeHeTGCVQ+6sUung9x4I3Jgx5UCcO1V19phK/+1nRgt2kGmb0RmZnDX/sm9NwA3
TE/zp4e2nnm5oH4ubamX2cqLc+KVH/IbjZttHTCAqJrX91oLSrnzATpX4ek8iMCtJXKjwTNNlpiq
8sHiV1+8phFqdTceKUUEHa3VPvJ89XsDw1UQZFoGRqmBI/OwkSruFjgRLyijJpyV7wBunb5kWoJg
6wAd0jTDZDqGaYb7a6UG6X28DRmnjAHvnRiMLd2dMt54a+jvAZmZgbSh3i9e3tBqNTbixDlvVehb
vRqicaS2miqllChMQ6Z/+k+/9w86r+98s9PpqE6nc4KtN7Q3azQxmUJTBi7Sg/ig74QHqPobW5ol
KKloFM16njwsNrP+fcahUWWkDYOtglZnjOkf7UUJiU8R0Ritgia8pgwTQcdtNJtoK5KYDCXaa6VF
65RUmWiA1UObcjBsJCqcLS+//HL3FHnKatQe8R6uvrojN15yowAc74SSGYMzCqdCkbVaA/V1ZErU
8p2jr41JnUr3qivd9CWb9B/vnDny9j//gffpTP9uiYu24PBZWydXkHq+DuZC7dtbqytVVTE1sYXv
3PEiDpUH5MCRu3xKxlJe57WNG74Lh1stubiqQPk8Go09SkqkmAt2DiS4V7mBj/61V2HpwJbJ8i++
+pkn/KQvn/gkneH05Ndl7Nxv0GgDZQPlHaIszpZhHMo5xLlQ9igKH1/M4l2CosHBw3NU+Zd4yo7n
8JyXvIDXfvfbeNxfXwbAc3d8L/ffcTfoJZRpkVc53rtoTan50oHMUUZTxdPmgR1XyvT0Jr3jphnf
uYo62abv1ErZzLVhTDow3dmRHmCTu1auHYTmd/C1mjQ9HR5c4Hvv+xIw/aKfP7ejDVdZq6KldJAT
p+83H20wzofIMJUoROSMep7CgwjcWiInWfpckwqI97VAVLX/5ZA2qvouVgOeFDXQRJQQBayglY6D
5vv0wzB/6/F944gA1nux3lZZKzFVz14B/I8HLIhmhkkEW3kcQdjWmnbtvhGMOuJFoZz1pUnVW//0
jZ/cM71rWnd2zlSdDqrzps/c8hPXfPdHG630NWXufCIxyUK03yEeZyvoC0QlSimbNMx40a3eArzh
qqs6vtN58FVuUk2aasRHFxh835+POviitvqnGrxQNdfuanUqGGccm8b8tMojcUyCKTdsRk4ErzRK
PGmS4io5pcYaY7w2BvFKjE5ITdpPyxiMZ0GY1cLNrT3LdbC90XnQC+gswwhYUTjnwgqILi9Kanch
j9OCUoF6kCEr7q7pGSdAljY+6ER+ptWWs531TkRUHTjhvYupJENokxdX2wuobAnOBz9kLTSTccY2
jXHHwtdQvYrSHebY5SzKgC/xVRE2R6VxRTFYby66YNU1G4ZDNAU/PT2tf2/nTPfZr3/yHyXNpWvM
ps/49raDaJXgC4+WPGjhZW1r8XgXPYwIOYhF6jld4UUo8x65anNk7yJfX/7fPOeZg3wbz7jgSm56
3De4/s5PsbS8jC+CJ8SwpwI+yA+PD0mS4nn+2s61FcStphOu9+p3P6HdK+05zpuzPG6bIGd4Z88o
vLtgkgPupZ2L3/nhzi3frOnTuh1Dhm+5soO+tkP19NZd//krxYUvSRvyZFvYyEzWlGdUmN3An9p7
j04EPEdZuk8kcAXBv6SzvbXc1U9UiSYRP6APak625mvjiV+pkN2lb0BRQj+OQ8AoHXhJFbI+DVyL
otZLdLXBxe9Hv87AcYo2giTuiW9470ta1+ycWfYeuToeG02iMImJHHGg1vVQCFzUR/F412gZXXar
6//w9R//aGALgkZz4yXTAjM0Wtn7vOVHklRrRLz4SBbWgQ9aRZpCR21eKRykafLKd3zwpf9d5MPf
7PiO6kjnhJpWI828SYPndr1N1dpOnasseEcokkQjTtP2J/Q3fMiRJAlJkoSSCMoMMqz1XezCgg15
YdUxq3d1aBLc/5XSaFQM69XBcGYMRkzgcqkzCtX1/B46GK0R0XhfIsp58U76vpkMFAZNiGxUyve5
fggG9uld0/rXd/7Vvv/04R/9k6yZ/HpvOfeCgAZVW76dC0dpG4SupSJLmhjVxGLJy0XG9Dhnrzuf
/d29HJy9B6oe2jTAHUPjOI94h7gc9Fg0vjnQtYFOEaj2mNDkmCGc2THjmYF9f3rXRx7721/9xdbm
+fOqXsOpqlT4IKyxgq3i03aADqXtIYTU2zxcH23xFpQVehzkxt2fYXP3HNKvJ/37ZcATH/tEbrj/
nzE9RVgfNT1JlBPSN9jrJJjpAX74N5+4w2mep5CtiL4Y78+rnJtSWk2I95Na60SlgneKqvQkDaG3
wC3Az9T06XHgr+1QTU+jOx3s91+t/04n6smFH45NkhinFbxUamNqELgK7zijvhacIAn49HR4v2Tq
yUmanqmVQSeJ0klIJGJUgk5CntIkSTBJgun/bUizhLSRYpKUNEvJGhnNZpssa5Cm2dB307CAjrpO
QpoOPqeMRhtNkhiVqIRGlj7RS3EewM6Z6X77kywjScP3g3CI3010uH4a2pykCUmSYRqNB2g0Mztn
HMDvv+ofPpekySebYw20Nk5rFX04FcYIaZqQprGvJiUzqSQmteOT7VaWNn4S4MaZGx9U4BiTSpY1
aaQNsrRBkqSkJiM1KY2kQZampGn42yQh6IDJyYdSppwY4+H4prVBKSNKCTrmNKgphTrCUqJ/pNJr
LUAbIcqHzTgIWomufUYlaEkCp6tCm7QkmJAu7iGEiQptsMDXdShrLXbYbOKHbBvD2DG9I0YbJX9R
lv6AyRKNEic6PF9R0StFh3mslMKoBOsqrLO0G5Osb25lsrmF7Wefyz1zt7Gw8O3gW+tK9DGrWdkF
xC6CauFsia/y4EftBakcSvva9N/PI3IUOrjpXdP6Vq492JqYf69xBt3NUc6hjeAKoAJd5yqp6jkQ
fnclg7DY+HeotmGoqgUWFg9x997Z/u3m+QIXbjybsdZ2lqsDpGkTnegoL6KMMQplFGHMDNqEiabT
9AXjU633JI30l7NW8rK0lVyeNM35Sao2polORMTbwlfeUimRQrxgUnPWSp58zf9qbW5KMo1Jg+eQ
6csuHV5p/Gk0Ruuw8ZqjIhCOL3DrGyQilzXaaUsbY43RYlSMZY+p+iTSV0qD6GBRN8agVMzSb8Ki
TIwhMQZjgiDMkjQ2WJEYjVYqcH9aY4yg1WD3kHhkDfqFuFY7axrln9Jv7FVxOSgThW0QhCZNSNKU
JEkxJmSaMkZjkhSTJuhwHjmWC/XTu6bDAxT95+I0RmuljPJBuBpSbUiUxhgTND2t8MojgjgLyiQ/
8Msfft05MztnbKfTOWFVi8QYb2J+V+kbyFSs4ZWgMf1TgtEhn8AjkgsXgDESnfowwZTXiUEnKWmS
YYwJ4e9K+iVwoi/2KVAKjVjhIea/lZADN7iFBe5Ya4UxoQqEVhKs7g81VLBL2HicVPG59QNrZOjU
dxwFvyMd1/Ed1Xnp++5TqA8mWYoHH/IwSO2vADWlpsL68SIUbpEji/eyVM6xlM+x0J1Dq4qqWgIv
3pfztYvOAM4DzeAmWeVITEmpqULWqCquM0u/wOax2HHTjAcolja+v1i0+02GEo/zvbh2HPg80M9O
g8sJqfk9sWZc32UbSYSqEvJuCVVKN5/n5rs+0b/XV2/6M7LGMk8+96lMtLdG91GNmBCaL0oj2sSN
XxAtJDp4qYrR9xbLzoFyzqnKObHeixNRDq28GIXWyihRRlTwoddKnQXIUNDSg0IS8VoHuaYTHULN
9cD/vP/SGmXi+/rkAldqPkQbc4XW4VheL/7aOKBkkHbHR3/MOuQtZGWpnedCNJCPMeK1VlRHkQRu
FzSC0ZpUJ5EK8PH/JKbm04hS3gcK4vkQeLG+JhkLF4fpGhd9TH3HkK+wix4HRh+fY5yZDlru8vjC
33snX8waqRiMT9BDTvdBswmLQsXM3EpVlbNZO9mitf3Jkz08oxKMykhMihaNQqNFB0HbLyOjQrrD
eC8eIQUX6hOdxMme9CeWMQnaJHGSaVTccEWtnVKAQNsEgRaFrQ5jIwTBrrRGlEFUqAKRnaJCDRBZ
LfHeS8d3VMd3VD2/tNH9AAxtxNelfkRFm4QEQ55SKmg3KozNAxApMJ3Ie6rcHjZJokNwe6CPpF5j
QqDd+kdohdIJlpxGI2Nu4QiL3YMhZ7lbEt+v/D6AQ/DVIt51Q2RZiO4MkW2l4KqQS9e5mJPgOI4l
nQ6u00H97dsO7lHINSoNtDC98Pk6EMERBKz4eJ2YYUt5sF1C0U4Xcg1TSchPvNSlQaN/r3+97QMs
FwfYun4rS9UyHtvPq+LF4/vVzKHOpepiFn/Rfr/SLCmNEpzCe+1jSGI9op5QJdTjpCwdHn/hD737
CTsApqenT6gc9deAl0Z/9yBw684P+Y7UrrBC8NgxBqXMUZ4vD1ALOh2k08G/+DceP+Wsf5oPjr/i
+3xtbeyizzl5Hww+TotHSheicZOYGyEarpzrh+tRO26HVuO9U9Y70d6jtQmhnL42xCkUtfuYJzEG
EvWUKztXGpFrq+ldg+lVZ0JzXmJJDBv9ZqVv9T+p2hW5tvd8z0z+yx965Z8L8jQtakD+Rze1YQ67
n5sSr8q8xIl/beejr72m8x87d5zIY0FiykELiJFB9EptkdY6jHGf+XnQUkkPObxSXrTqW75DbL/D
iyJVwW3JUoXnajJOSd42msHIUkdV6fhghnh0iYE2Q+6Gtcg1vl9O4No6Qd0AR73xr/zr0F8d6dRe
3BBnauczHTNw8xPwCqUMKDsUGSgDTrvOATBcsXD4Hp1O3POvub3zj6//cNbKXm8XnHWuMkrqzVuC
TzY+JkcNtg1FOKrmRRldj1p4WwUf3uOIC2sLtA21XmtvHVvGJlbBjxVPdN96oIL8ALTcNdW8vEHB
Zqdx2HjXmkIoQJkofF2gX+3QNW03NDNpaKoyZEv03YFdovNJePHjb+fMs56CTTP80hJJoxnXRPTK
9SpminOIGMSHvJVi9R6vqnmlGHdBNY6BVfG7PmR+jAEqSpy3acNMVT33fcANB3YckBN5c2668dr4
aP1lVZ1GgxhDUHuohOC0ocCVkOtYPEcGk+dBQnt9aS/y+Md473GiagcEajWgTr5RR4FYrBeUaK21
UqASHwxpMSFNMGLVFIEKx0AJlsyq9LHgnoj2gvLRw8ATjAfiYnSYErEKI8kZl54/8aRr4StTR+6I
CcAVgupHstVdDL63dbXX6CWhDT45sUCofWlzpf6W0r8zzZJzq7K04RBTG0l8X5uWwYIT57xttJJN
Rbd6A/ALl1xyfC43UfFIYiziEryvwikAhXV2sOQFlFEkaUK7b/B8eJMpjANOGxGlUcr2TwyJJKH/
SuG1orIhRWamGzgTTxD9aIbVQUuILBNfG1SH0/MNGW1r/x/cEQARWV2ZieOgs+tNY+OTjSkpvPvZ
53Xur9933kWqQIXFFoVc0PJcTIw0COo5EYLtYcYq1B/2lnqvECVtccrF9IwgKs7hUEFd1bxr9AXX
SpHnOT5VWFsiZCg7z7GBowklGkF5i7UEieOjMIS+hus9+OTEWfQ7Hdz0LvRf7+Tel/+u/K1u+J+w
3WDO6pcKSgjZu2L5IGBghPOBahATM6iWNiSgsYJNBgP1jAzuW/gys6lhY3Y2B7vX453rh5n52l4Q
b+C9o4qBQsuV350ZWVZGYb33SnzgPmJwiovGLBVdVp13ypUOEf/WH/q9J//t37zt2m+94b2XJ0c+
fZ2biYERnauR3dsu19e88bpy+tcv2wTlzhAZ6qRfT4o62rBOvhV8tWsx4RWz9Rggx9Fwb7yxjpzT
L9QJVIVzSgfut59iPV6hThwC3pvEiEfdLch1eKVsFaglHwSGJDr1IZWHE+cDyYBSorwUmUmem2bZ
FvHKB1NJEGTOV2FB1aS+96oqK5c0zaTr6acAX9k+db7AdVH3k4EHQRTsw5XJ6sE2xvBgUc2dTsft
2jWtd/7gX+z/lY+8+gM61f+prGyst1x7VQw0rSAIVF/wKhKMNi//9Y/91O/s/J73HDielquUklRF
P0IFLho+PK5v3e4fWXWKV/4RLCI5jq7KwNd6E+garfqGq9pkq7XGOUdqNO4UONUGoLQh0SniI5cr
GjWkUMUwmX5IpYj55YNL++/wzmXOOVf6CusKKusoiTXPfMlyvsjc8mHysstyucxyOUc3X6Zyhbau
2Gy9Mwo2aFHbbGqz3/nkz77+7d/9ux/FidJG9VPyoQz1TLVUJJL0c4B4EZxyGH38U+rMzhnb8R31
q9L5xlX/8IaPJA31qt6i826wtGJlDYlGOhlo01FhEIS8txDO8zbH65IHUAo2jI8rYmmfyNVaG0uh
BUU6aH8FFL0Tn6B23BT8VL12f9ibl1cqGLdB9ol3g4yqzofr44Jtp19FIb5qkaGS8LnhFn8hh8mx
Czh8uOTW/V/gjLHtVK4OKh2clEUGto+YeI2Zn/1C91XveeadTvxjiJF6vpYKPmYJ1CqG3jq8Q6rK
OpPqzVK6mel3P+El17zxujv7EwzogIfrXKeDukmXv6eMnF0V1jnrFYTN18UkRrXq5SP9EYL/AVG3
QBDeneNpuP0QNKWfplMFXjultKqDGgIFUIe4hkmQmNS2J1vG9uyuP3/TZ37+De99Q7L9DdttP9Ln
quM/xN3X7Nbv/Ylryre+7yW/m2j9Nld6J0rrRCco0SFnqS0GD8WDwznEK3BPBrgxbsyJSlCiwpFB
VOTVVG3AOeohpaaFqh7cM/+mm3Z4mMGr5ANFr3yr0nrCWRtS60WBq5Tqa1iB2xUUol3ubbOVnZMv
9n4U+O0bj6flRs0gRCMFGkHHPriQj69/7UjerF5ynTIGmrRJUhKThHyv0d2uf5yqBYOWoRgAt3YV
vNkg9QqjDRAs9QoVOTNQ/agrG7c5GG+OvdiQYLE4LHXQbEUZ0jHaksL2aJQJWSthdukQulCo0qMz
KCohz10/50dVWNrrMuaOLDwP+ChGB8Owd8G/P4b4CmC06fum4wPHbFfopmbF/Zldrl6JoEWpoMd5
CWvLhYzWsaJvNCIqHI52c5zlYpKD1TLap6CbRx3fIdAHasgoJiYIWmcHyhkeKgtl4Zm/33Ai97pO
Jxw0/ka44aX/VT6sW/41RRfrweCCBusJ16+qcE+dEJMdxUQvvWi+UVEL9jBc9u43pmHzhovYe2g/
qbGkaRuqHI+NwVOBK9cqsEc6EVLS/vezJP2STuSFyhahvm883teKoSdSNdbHtYvyFTZNzY6ytP/n
Zb/1hN/wXv61lN49vjtmG+3FLc6aS69H3mq0vKDMra+8F6mprtrV1LvI3w7C8z3eawSPvRXgxkvC
sjDHDKrqdHDT79qxtarkseIVWquQ0Svu6IOa7hK8AbT2SpTWTuFFfQNg+55rbEeGJETnhOvZ80Yw
Rn/OOXkbIlpr7RVaQGF0GhsfeGIb84VWPYt36pk/8z+/f93v75yZBUJCDy+4ukZUfXYSTZpkKK1D
1VadYLShOkmsf6fT8Xjk1+R/3PKLH3r13zTa+vVViXPe6r6lNMS9hB2tPl2Edor0Chz+LZ1P/sT7
O9/9J/ujra6voooTX0fFBWNZPP7EKCrvobJV4Iu9CiF+jxCHOwZUiUHpJAq7QYRNXaao9iVOdUZq
Mgq9dr/YJk2MuLCwfDAmRtPIoLwPgSNzIoj3zC3N28DoBBNOCLf1wQ+oKqRnc4qyYLk7T152yXsF
84vzLJWLdMtF8mIJ70oJBSodXnnnl6qkcC7Gy9rAr2rVjwKrXIUSIZMkHlnrErzBhPVgT6sTAy1+
7SXvu/aXP/yjf5s005fmvcoJXsOQP3bfdz14QjgfEtKXtmJddgZ7zDbK/BCmOj7NVBvFYvbH+GZQ
yqrIu3ot9BY93dl1wMETNdlP70TPgPXi3tdblh92OZl4vBikqoJQVyEtdbiuAJFmIGq/OhYJsDlQ
wXAqhGwekMPsX5plQ2sbaZKQ6JCvGDypiXXlYl5gYzTFEPGcJclnjVZgiAmgdNB0xcUER1VQyEyK
iSdT6622lXVGqzNVKn/YWyznE5I7Tbt03mebk1TOUAJlEYp3iXichHo6EqNjjdakaYpoRa/bxZbW
K5Quc9cTkVuBfvDfUWeQa7lSAdiy8Til9QViFYKoOnGIim5LJjE0GyljjQaNJPFpokWsPySEkugh
gIDByx/nBTJd+9GKXO+99HSSgSgKF/KZVlVJnT3Lx6xJDi/iNKlJdug0uWBoagVux/lgZ3CW0lms
d5S2CtVabUVVlfSqLkV10rwEvt8+Jf+z6Pk8SVNtkoY3kob8a54Y616F6DPfT82nqtK7tNk8R/V4
DcDV1155lB3dq3Bs1nX+X6L0siCu5rw1qj6OiVK5t6fDFr8GjMf2GETqyrkaUZpEG4wKWkeqk5jC
2Ed38LUhUApKjEnRytB3D4zeK7Wfax0SHk0j2uETJWK0UkZEjPck4nwioo0RY4xKjDGpETBGJ0Yr
bcqiZ/K8a4qiZ5aLnl4uurpb9HTe66le0aPK89CRiuBEGvNr1HkdQKicj0LRBC1MraDvgt8VXRCd
l/+Rd3OcLXVlS2+rEusqEpNhTEaaNGilDZpJQiPJMDrDVjk4jaKFr0pspSi7i0fJeGuDva3WfG0v
aqIeqjzSC6XQPeRYPtii6m6r23ZczMxgOx3U3/4Sn3O5/J024FxI5SvxEOa6oFzwzaUK3gm2GBjp
rKMf9m1LhnwUYCKbwCQbsVIgJEQiACOGRKXBy0hi4dA6jeVQj6tKXV/2yrsSo5VCOetCGLZGoRy4
skJsOA0bNFonIWoOlK2s6y2X1nk3oZV/IuIu87gzbG6dLZVFjDhR/ShQo5PgwqnDnCyLgqLXi8Zv
5bRR4OUW7ar7AWZ2HCfwYdONmzxAJe4ykymc81ZEi0QDhor5EEIqRk9ZFZRV6UUrPLLnrH2fugn6
AQS+/zqeyAW/K7pgmcrucY6bRQnWeV/FSqooCe42CA6F0intpC2JMj4xGiPquXXbm0k75EwleqRJ
nazGUhZLVGU3+rRqUpWQqJPLrhhTL7/xg+//QsO0/qnVbJLqxLWyBqmpObtATEUGFyWKRBm00t5W
Fuftj/zW3792vPO8a6thv1yjM5Tovktdbc1QUket2BjJKBLqLsm6RtLeAnA1Vz98FjNgkYVwWACs
xEOnaIwY+rqt9NkFSlvh3Ckk2mmEPLjiVTCgRmGrYygxfpBboJ9H+KgS4tL/XYnGEJ6JEiExGVqn
aIKblxaDtZZemVMMbdKI0EyatNI6JWbIVIYXrPVYa/sRRbWRM9UGjcZ7wa7gCe2MORt+42V//jHv
qn/RiScvc1faIp4og7btfIVzJd5ZjHisLbBUuMrT1FuxtvC+smDt0fnkYtlEV0GZQ1VC3g2Czhbh
ve4yzO2B7oFzMfrk6ejqo7Hz7o8rB9ahqyokIfM+XNtFYe5t7Q4WjWl5+NuXhEl0jEniGU/+De7d
7dmz706aSYsyzymKHFtW/chL8So6/0dFJW5ub3jv5ck1b/zkHmv5N6+gspWrbElZlRRFeOEEJYaq
LCnLkiovg3eNA+e0SiTTzaTlEhmzhjGLNc55rYRgqFC1d2mdMtOBrRx5WdHNc8qyxJZVDDV32Kr6
t7/r3DU7PY2uQ4ePqsMwMxMmwEWbz3zOGVNbaWQZztnQSR8Ycu8czjo8ikQnNE1KO01ppclXOp1B
AvyVrKtasXvX6/5hoSjyr5Zlj7zXc7as8JWjLAqqsgrHospilAq+bYmyOjV4eHZ9rVY2JmPtdTSb
46Q6JdEmxqbbEFCgEzLTCIsPQ0M3VtJEdu0KWm6i9PuaukEzaYgi+NkFF7YGiWlidEIjaZKqLEYf
Oe3KyjZbzR2FmFcADHsspMpLkujov2z7jvJeQOkkJmgJXhZKa7I00a1UHgbv/uNgAQpXeesqlPd1
dB1KKSpnQxFHa6lcAULQ2lewoT0YDNobFTWIoWoYoiX45kI8TQxqgfUd7GGQIrROjI4mM1nQxmM1
FS2KZtIgM03SpEGqNEaFz7WyCZKkMdCgDFTOUcUqu6ESRUJqEtIkRaKLn5N+Syg5eca0OtCmmxe/
lxc5SlAmyTA6RURR2YKi6JKXXYqySzdfJC8WmV04hLWW9ePnYH3i8V2cbZw7fO3aC8E6KAtiufUg
eIsCugvC/P2Opf1n4XybdPMtJ+WsZnaGEfnH/8K/lot8SitwJa4KxSBwPvy0RRS4QOWioS7SG1UZ
KAcc9Iai1eeyTfzbtz5N1ZtDW42xnpZKaSVNlAVyi6ogIQTAOGuxRchAfmTq/BDsZv3fdZd6WFca
ayvvrKcqbcxDoajKkjwvyIuCXp6zvNylKqowP8TQNplqmky3spaeHN+gGmkrVEx24eTpY/VsW1ms
s1Q2JDISwkZcWe9d5XXV894Y9dFjx29gj4oi8vc+8zPrWo3WU9rZOBdsOUvG0wZVWfZ3Beccmda0
0jZGDM4GN4JUp1+EkHVpFevKdzpXGoAkyb4mWmO9k7zoUpQ98FBai3U+LrJgEa+8l9JabGkf+xsf
/ckpAOut1yqlkbTIkgZaNIlJaTYnaWRtjNJ470h0FqK2av/gky2I6V0OIJ3Sn/JevtFqZ0qUWBfb
ZLTG6IQ0aeIlFPUDFRx6lJJEFEalb37vP3ZaO3fO2FroVq7wuAqjNdZV5GU3JjDxwcFR636whohg
vfXO2RVtZKcd4yBeiauDWJzFuQrBkYS0mf00et7bEJiwhkizmZkZAWg61VIiG7zz4Vr9NJ2Bn1J1
CtBI5wh17SvXz6+AjzppHbElElJHmoyJ9jo2Tmxkw+QWxltTtLMW481JGmmLdjZGKxvDJI3gVBpX
SJ6HRC2ZSWglTZomDb9nbVrZWKRb6jSNYUASkpP2uT7lTZVjn9Y+va7VaklqMpuajIZu0EzGSE0T
kQSlMkSliErRJqFbLmMko51eTFUt48mPpRSkLKGM+byrEsoSylLoLgmHbnd0929C+Y2MnbWb9vrZ
9fGrD+Z36OtsWlXp31cWUBUom+NdMTCeeQkC3tnA1/oibAC2HGi/zuKTbEAKHL67dBvUlG+pNvRy
jFOkqgHOoJzBVdBdWqJY7tFbWna9bk53Od8CsOOmA+G0fGj+40WefyPwinhr6zkCVRSUVWWxlcNW
Dl86Mp2irUO5iqrs4coC5RyGkHfYWqhsNNM6H8ukW8qyoqyq/sZWhWICPskStDLXlevlM2FeD/rY
F7i1oLz1W99+ysHF5c0LS3N082XZMLGRdeOTtBptsqyJeGgkLZpJi0Yy7pFEjLTY0N7wdThai1sJ
brwk0BjnbD3/+vXNLd114+v15NiUD0e/kCWq1iiUJDgrFHmllha6FGV18f5Dhy4PPTENow2pTkgk
JKxuZRM0kxauqljuLtIrlmM5bUeer+zIKyK+85mO+dln/l7Xw1+KStC6IYlp0M7GMDolNU3a2Thj
zTGSNEVJIM7mF47IkcOHnU54/AH2/AjAkfOnFEBRVWKdo8h7LHcXsVVJqlO0KPK8Sy9fDNVnXUU/
L/AjCKUMpXXkZYl1FmcrpLJkXpPpBolOgmHEeamcI3dlCgPj0EowPR1qw+SOhkmypNfr+aIoBSTW
/aqLNcbw13iYstYGbacKCyCMV3R4j9npsiTDaMNEY4L1ExtZP7GezVNbOGf7xWyaPIvMNGlmYyRJ
Gg0sRajzpcKhItMZTZPiY75iIVTwNbrBuvYmNo5tYuPYRta1J2hlTSZak2ydOHMF8ytwuZ0f+/Ne
y7SuwSqqolSuLL3z0NBNWukEWTqG0U20aWNME6UVRbmMocmW9Y+lZ8FXR4ci9pbx+aKQLyFlF3qL
wsJhWJhzHLrb0d03ic/PpLm5S7rufspcb7ryypNX8q4FyJ238g/L83zBVkjZxZVF9EZwUPYCT1z2
gMgj217gcmsfYDwTZY919XX3zt658cC+A40j999PsdgV16vwhQ2abpIy0RonS8fwPgWMV16hrKyD
IEemd03razrXLQvZH2RpG5M0fbAlaJRKMCqNJ/XQJmcdWiW00hZp0kCbjNQ0yBqN4IlSBIpARFEU
FWVVl8MKJe6r0mJt8NpR0YURrzxK4bz8ycffelseN6f+GugP7rVcqwA3Oz/7zNZYI4HMmUZLtdst
mq0JnIc0DRNufnGO0npaactPZQ1ltLnPp2o3wE3TwZ1qpaiDDET03evHNx0Za000Z+eP+EJnspwv
UdkCLQl4z+LyYu3/KuCr1lhm8i6XAZ9u6dZ5zbTJcjnvQ+FKgy1LtActCU7KyNGVJN7Qs6vgGP81
TLC2Hv9QIs1fbE3IVC/vehEl7UZCUSxTVD2M0WTKYG2X5YV5unlPqiT1bqFCnH9z5wOv/OAbn3LN
PEBVFtsXlxfodfNAwqto1/Yh/WM374W2JhnGgHaCG3KBeTiRlom3JnjaOO8oqhx0SqsxRmoyekWP
blmgTUJZdTkwfwCxZrLzsZ+a6Mh75o/10DgR6oiupcUjvlemuMIxriewtopFFk0MHw9J+3xd1RVP
WQbDpVKasiwwiYnh147geeCj650gFpyY6KsNWzdsJ7cLzPeO4MT1E863mxkUodmtrEWz0aYsCypf
iUhCQ7eYbG4iTRKKagnrPO3GJJMGZhdnKauVJWGfjlpuliUzridvF1Vc5MrCOZ0IJkNw/cqxqQmV
bbt5DxFPVXVpplMofQ7z+++tBxIAWzrtDeSLQRAWuWf5MFTLKeXcNhrr2jQ39tDr7pHeLFTLzm17
E/6B4XkPgI9VqvPtr/V/5qw8I2Z6pMxB8mA08zFpjTUDNzA1kFloI2PaN8YgOIIcnN87tbC4LzNJ
2g/nbiZpyJmhUyRtkjXWs9RdZLm7ICqxJM1GX3usU2BOmfEPVpV9w1greXqOrvDeGK3RjRQwiC4w
MWNa5Sx4RbM5jq1szI0QImRFlShVgU7xolFicb6isAVJDGdHNCYWOi2TsnKua8qe+9LNR8oPAMzs
ivklI2oNt58/QUQ/vfKevPIOpenmPQrrsCrpG0qypEFeFYjWfuOGLXjUzed3j9wPcNUqNBoIQQYA
b/sPv3mXMcm+8bEJkjT13iSMTWxg/YbtZM02hY/OIRIKBVrnVF6UTIxPPAcgUcYmJmOsuZFGtg7v
NXlZ0itKSuvo5V2KsqTC4h1o1ORv/tMbJmUQVXuyNsrrn/srdzZN9ncT7RYgrqgCxQKwVCxzZHGO
7tJS2Dl1RrM5Dkqp2dlZV/j80iLh1fU1ra/GPZbK5d5VOc5WWOtxPoRh9oqCsqpYXp5n3+H7Wc4X
/YRpPKyUQm2cS9p6G85NahTGaOmWyySmQbs5SZIkrB9fz1kbzmL9xBRTY+toZW2sL1m/xvsulSVF
npPGrHLW2pC6SFTgCK2PwRea1KRMNMcYa4+RNZr9nLLWOlxV4pylqgIdhvdoo0m1wagEEU0zadDM
GhgFjTQhSxqMtdcxObGJLJsAFTa55XwZaytEabwPLotp0iBNGiFoxXt6VY4xGVnapLI9WbaHV+Sq
IYLv+I76xf/4x0fajcn3t9rjKBEv3tIrl+hVOTWZlCohSwzt5gSNrEXlSja0t/Okc3ZyKDIKMzPY
13RozO1Jth++27CwX3Hk7gbzd28i33cW0ruA8TMS2ufeS2Pbt8At+2pJcXLHnQFqq3tT+EhRcJtX
KOtCHnVbRs44GuyqImq1LmYLKwGryAvn7zjU7QvMXim+ObnOJ0lG1pxg3dSZTIxvYSyboqnHaDfW
kaoscLheaGdjpNGoOc0gBeZ73vrxvN2a/NmmahdjrTHTSJuukbRJTJM0bdJujNFqjIfAGid0C4eS
lFZznGZjklZrikZzHWOtDWxYv412e4LJsQlajTEyk9HMWjSbLdqtcTZMbg2v8c1u8/ptRictj/Lv
vO09t+XTu6Y1xygaCmA6GoZ+4S9fcb5Jx56qpY2tcr3v4G66lWV8bAvrxraAZCwXBXOLC5RFwVLe
9WhNM2nfvXPnjN21a1qvRJM5Fn3rvTJ3NZqTTI5via4vQpq0yVrjNFoTbN14JuPNMRppi3Xjm2TD
xBbWt9Y96/2ffHfbNJqFV5CkDVqNdYjTLC0ucXDuILOLB9EilGWPI7MH5MDcXnrVouktdFec02+X
36UAMvwHF+cX8d5rZytfVhWVF3p5xez8AnsP7Wdufg5NjBACmo0xbxEKX72587FXTgBUXlxeVSAa
0RlaNTEqo5lljLc3kOgWZWmZW1pi/5H9LBd5VupghT5Z6sfTDWNUOt5MTDMNPOVYY5KJxliotUVG
1thIo7WONJ0gSVpsW382Y80puuVSnAsrmxLTsdzs9nWb/JapTYyNTcT7m5B5juCSE1IyBresZtIm
VSmZadAaGydrtGI1BkEnph8N5J0nz8MGHIIYNEYHgblcLJFXJfO9JZaKJXplzu6D97PvwG4WFkKK
tsmsuT1JhG6+FArZYSmrZQ4v7GV+6QBLywvMzh3g1nu/LjfceR0HFvaMz+dHtgBcsorn1Ugbu2bn
lw8fXD6kD84fdIe7sxxaOoh4z1jWYLFYpmdLJpqTgAmbcm/eb91wDt/9jJ/eXl9n9+1b9OI9W5Pl
+86kd/As8b0tNKearH/CMpOX7qF9zm0otUDviKJYUlLmnrKLHLhphdxVBzc9jf7kn3G4LOSvSxsM
YLaMAremFMporIvBEL4KniOFFXyZ8fwdl/Xv1x5vO0kbFChMo03SaOHQmLRN0prAWsfi4hxVVdFI
W4BmqdcTGJypZ3bO2Old0/q3f3TmC2nS+GmTZohpKN1o2cKV9MolvDhKF6o6m1hP8d4D+zg4dxid
ZDhlWFheAhVO9SGiMsGYLCRu0mHzb6RtGmmLxDScQksjbbBufOPPfbRz87WdTkcdr3LIUXxNd2nx
UmfnNs7N5W5ioqUWlxYYa2/GYJnIGtBsc19VUth9FGUOS7Ny47dnSXzzXoA/uunAKQmCg7MH7ihs
iXapTDXXsdCdJ+/1mBxfx9bJrfSqLq1msx9XnxlNZe3UYY48U3wyZRHmFg5TFDm9Ikd5YX17PSYz
lHaBwnlKX6G0w7tElqo69vLkuQmmmXYARVl9Li/LryH2sqIq3WLe1Xksxb1ULOFtgfgErYVmI2Ey
3cBy2dPdatltWL/+cU2XvQL4k5SkudxbJi+ctNsTNJptjAQn9GY6wSbnOTh/N928J14sS/ny2P3z
+zaEtqyGtFk76jQI6xpbtDKo5WKJsVYDj2OpXCZNgndGbg22DNb0VCvRaFIx4+nY1Hpg4eqrr16x
5wrAeLu9td1uM7u4GPybRaG0ROd5X9sSY7honRnOhSNhkiB5jlaKJMlCWXObB3/sqiKfz1lKgsAu
bcGR5f0sdZeoRFPYktQkOK3QSYPF7n5cEUKhbJWPazVBohO65QLep1QWlvIDeBf4424+z0JvP8o4
TJZg0SkrfFYd6bjpXdP6p1/4a99+3Xtf8IkN69a/YkM64dOswbIXZpdnyauUjRPrOGPdVkoHlXXc
NXs3zWSRsmqyfmzTeP+CT9jH1L4GzmnyZY3KCtJ2j7IbtM/8SPDeqHIf+NQQHHH2fd+mRajvdlLM
xKreyrq/yo/IOxAaVuPFIiYJPsBCzBhWhYgzrTWVTeW6+5fdL71mZ/Lky5++/g9/6WsALBw5PKVV
mm7Zfi7dYhHTaAZDoWhs1cXaiq1btuFxLPe6UinH/vnZzYDULpyAj26p8l9f9Zd/8ksfeOXZY1ON
X1zOC93IGpWS9Sa3FdZVNMdapGgaSYqfnMIknkamWOrZmE42Y26phzjYPLmJxe4i3e48RVFQeUcj
HcPaytqy0K1mSm+5vOZ9P/Xx3wHoXNXxxwv4MjBIvH3zHTd8X+6WwLfduvUbOWvzJlKj2Xfgbhya
ifZ6jNOMtdZx/4Fvs7RcqKqoyKvuHTDIqrNW5OX8bd+++15cT/z68UnXSBRlJZyz/myyLGHf0mHm
5g/E1HWexXKxIjHJ4UOHX7ht8xlj7azFkpt3le2JNpptU1tZPz7G9jMuZs++27nz8O00TNu3sxa9
vBpbKvMtwN6VCAQR8bt2Teudz/zZ7s/99Y/9Y3Osedm2bMyPU7kb9t7BYhXKYideYcabkAqSNVAm
Q6ouIs5tnLxIGa/e/vv/8vOfOXBov0mbLbQp/VJvwWlxXLT9TFrtLfQqRyo9Hnv247j34L3kRUE7
SaWheVgDH2a4RACmpjZuKspizNrKJ6bhC1e6xd4861sb6RZd7j18Pca0MRraaL9w8D7wPknUeDjv
rTCBTc3hpklr0pCRqK5fLvIQNaaMV0qoz2ihyKIjdwXNtIF4j/JQVBVZlpImacgQp0HSDOd6KHwQ
vEVJ7nooIxgVOHhLSZIaMeLZ3kTOv/Ayvrn3Hv7tq//kAUyzkXXLRXp20fXskuSlpigsVZXTK7tU
ZQjbMpJibeEE0cbaNsCOmw7ISoTujulgz9g0vukvzlq37RVTjVQmxra6bHwr//atz7Pn8C089Zwd
rB/fyqFeD3ST+W7JbXtu8j23iJZWn8JoL421F2RxU1GC1/jeMm55VvBV0OjKwiOJx+VQFXgVIsKM
W411thPWzBdnuOkJL5S/N03/Q+UyFaCdA5MS/crDBpmkhuW8YvHgMlf9+OvspZc/Qx3as9RX+lrZ
xPqNUxtlqjllC1fIUrHkN7Q2UVaO/bMH6S0ewAjktqAsu25ZCh1LDSdAMaQ31TQ8v/6qv/yl//yh
N+wti97vVLYylVf2nPWb0cao+2YPiZaShm6xfsM5iHHki4ewriS3DmMdS3lOgicvLbNLCxSuoPKe
oqzcPfv3ujM2bTWJVxw5vPgbf/GLn/0liBG7cvxAw7oGjedyJtvtM7/nonOvQJwytx84op74mMvV
5RdcrLRJ1A13fUPds/8O1Wo2VN5bVgtHDqql7rIsF4XFp/dByMOwloXdzzVg7T1LvSOUrtAoqw4v
7FcLSwfU7fvvUPfNHlKaTHV78yqveqrRaCmPTu47vB/EfWei/KVLS/tZ6u5PTCNVy35BzeX71KH5
fWp+4YBqj7XVWHtCzc8f1nfvvpvZ2cMTvfkj7aPufxKE/Apw+8Fv/n3RnUNra1KdKN/L1cLCQbWw
eEQd7h5Us70Dat/hfereA/epW3d/Sx2c26/mFxbN/QfvZ5mFC5Xt/cpde+9IDi8eoiy7BpbUfYfv
Uv/nxi+qL9/yRXXz3V9UR5b3Kp1plTQaav/ynbJlywYu3nzxOQBHjkytPYxrFbjp2psE4OD8nonC
L6r5fFbumb1X75vbq0rbVYcW96gD87vVwcX71f0Hb1aH5u5Tt+37ll7yy8zOH9kwu3DfOlj5kXqa
aQ/gbHFGHTOjlBIxSrRWKjGJStNUJUmqlNJKGa0qSnVk6YjaP39Izc4fUWXeUyJKVTjlcAoR5QWl
tCgxWmWNpmo1W2pifEK1W23Vao2r8bGNqmGUUjqRszZfIlumLrDdXl5uaU9w5UXPNgCN1vrH5Mky
y/aw3jC5RakkVc54tdA7oNrNprro7AvVti1nqPb4mBof26DPOPNC1k+esx1g97aLVtT/q7jKA2xf
d/Hns7F1Nza3nqfSdecoa9pq64Zz1AXbLlW3H7hPLVZanbXpAmW9U/cdulUdWNib7F3az/bJbWfc
fPO/jQMcOnhG++A+zshnoXtI695hUfkCquh5lS955UpUsYAqllBlD130oNflPDtPiH7orEjw+tqr
oddzH+8tQ1WSuAJVFahiGeWrEC+glVLz817tucerV73yx9UFj3tGspynTKTr+lUXJloT2zdvXM94
1tRjjaZaNzauGqmoyYZSZ2/apJJMqzv3f1vlWFVIlVT5ApnnrM7/ftN6gM6QS+qwbeZXX3bNf5s9
tP+Fs7Nz32i1jd6+oa3HGomMZY3KOlyurF/oLXrvFbkvmS8XmF2a5du338j+A/fRrXK/9/AeP790
2FsnFm+dUV61GtbMzu+7v3L5Dx8lbDsnjuoeUArXsZD+8ObPPO38J0w/burMhX+/42Z195572bB+
AtEN6S3N+1uXviIbN2z3B/bvB9f01VKeHpg7cmRu6cje8IxODUqqew8vHu5e8Zgrios2beWWvd9m
/eQGvr33ZvbNzsu5G7d4XVZyz549fl+2RK+cd0mWTVxx6RO/VCwcrr59eOHcb91/y6JOx+Tis89k
/747ue2+2+T2A7eTNJs+IaPIK3fH7vvaiUm+vGnjhltgkHT8ZKiPCV+6/bpvrW9OffoxWx/7nKLs
LpWq0s3Ee5M0KKjk0OJ+Pz+7gKusnLl9u5fmOEeOzLGUf0UtzG10U1nj0wdm9+uiyi/eOLVlTmlU
r1dIZXt+obeAFi/bN270YlKapuWffe5Lzf133j9/W/Fv1wF8eurIw5NUIXpn9BZnvzq35G5NVXpW
yxX53sU9YkjZbz2z3SUMDRLjSMJBwO0/uLdx/77dN543vv1eGCQCWikKW+7Nl46gtVZJloH33XY6
VljvpLBFOMI7760LBtDlXpel7pKIwrfSZggsrhQ9BZnJ8NayXOW0my1SY+j1emhtsM6Ks8oXlWbT
2HmysXlkPHelzPtMLy8v6vE0YdO6M5YAqqr6dLXMD46nk5IXhZ8Y20SrUZH3ujjvaSQp3dyI94mb
GN9kiiW9NN5e/3mAIyt8XiLiO52Oeuv3dOZ/55/eMTN7T74jyQ4eTpMx7cuKRtKQ3Yfv8GOt2/j2
7pv48rc/zVJvmQ1jZznyZOzA/KFPP/ZZ37EA8As//ebd/+uvPvSpe+/+1ku68wcWXSXKefDRXbjs
Rb/YHLzCY2l64V99FdMJdlamPF17bUgeVeZ8wlV8y2jOF0PXliGQ0hkEEb+8GLLnfP/099A+czM3
fvtm1TJpvnl8/S31teYXj3zlrnt6hyrr0kMLh5xOGiTasH2sjbJe9h24y++eu5956+gtzbu52b3t
88+65HNXfc8fHuzwRxxbvLUuldihIx3pfOaF73jhs9aP5T98/6Ejb1msyifunz9sUpOibMWdt32V
ycn1/vDynC9c6cu85L59X2Xr5otldr6QopeL9RWNttFpU1Pm1e5Ws/03E9q8+5q3fX5Pp9NRnas6
/kSabb9NQD+zGJ31E3/1nF993NZN2t57cC8f+9qXKBPYmExw/raz2XvwFpYp2bNnjoQSo73cdud9
dg8Hb959Dcunur7/28d+KvvUtz762MvO/cH0B570fP+1e77G1sltHJrbw7U3fJxtk2dx1lmP5YZb
vsT/+NzHSBJ4y4t+Sp2fNb/1uu9718LP73rdFV+66WNu64atvOy7Xs3Nt3+Nf/3y55grS245eC9z
c/DaK7+XuYUFfceB2+792rvu3d3v+yrx1F/bftbLn/yqM9ZNJNXX7v0SCQkbWhMkBm45tJe5gyEJ
yBWXPYtWknDH3j0keaYWi+Xij37s777+Ux975UR+8MDjhIYtqVhenuOx2y5mw8RGbrjjBja2SiYm
tvLYsy/jey99nbl73837zt36tDu9DwnLTnWsV4rapeuPPts5/wlbz9m8MRuv/un2L9EioVxe5pa9
97BclrQmWywD2yY2cmDf1/W9e/7trn/4Zfat1CXsWBxYOPBca+1W0a6cGJs62KCxVJbLapnSl+Uy
ZVlFR/6SJEkIZQaS4Kwea+QtlyWTrUmgZK4s2diaJAEOLs+FkIQkYX5+XvbMHfQL3XnRfu+WO45c
n3kZmwR/3t65AyptT77n55/X2Qvw3s93Hju/cGTyQO+wvXjDxbRIuH1uL1W1B2OCYtiiRZm2zO33
333gmtf8ze2rfl5xPr75f33nBmOXLvzn2//dvvyZb+HsyfO5Y+/XKJMWc+VBPnb7h9kGbE2u4D8+
4T+KHh/zP/K0n/0GUNbpQD969x9NffJTH7/4f3/kH6tkOSGZKCmrOvgBqrhiTQJFD+163HjgRhbp
p2JaHS58FjtEGFMemySQTISzflm1+NrHlnnL7z6LK7/vpVz7pRs4sPsLZsPmLQf/6NXX3jbc7+f9
l/Muvmn5znXrbGLvLUvOasEPX/pyygSuv+drtJIWh+b2MnvkoKSNs3wv6d10XWf38snW8fSuad03
Yr3m3MZ5G+/6rmdsfPbzLr34GVdef+8dT/ja1/5Wg+Pcsx/L1LpxuosF551zHkvdJW665ZsIljRN
DrZbk59NsuRf2hNjH3n/T37hfoDp6WldR+meDHLM749QwtVHCGsUtpziWK1VaD7cwvbU27s2Yfuo
wxrnyZr7v/Z5CYN0wQ/33F7T94bn1prn9wr76j2yc2b6KO+BG/ffOPbG3/u57dK763G9fOmMMzZv
OieXIrt026XusRddoj/55f9z+J///VN3Pe2Sc29ev755zwfe9q29dT+np9E7duAfjEI4FsNeCrES
ReBBru7/E3HVMX9HAqET/jltR9xOB8VVHa7iKq7m6sFtr2aQV/fqwf3DZzteBDq+I1zdCf/X/2zn
2DuEf6/q+FOY1P2jyqA9J25f/73YGRFxeKRzbBj08PevGn77Kq6++urwvUcA9VH3qquGulfjBDmP
O+GZnMKmtEsT3cTqtx7qfs4QQos3XXuTHDhwib/pppv8VVdd5Wsh0Ol01IlyOz8AV4NIZ23Pa+go
fOxcGL7+sXOsI506YRR1XMjVV3eks1Kyr8Pg+6tHiGk/0a060Olw9HqAo+Z0Pc8e8N0HrKv6FfP0
rnCehfkYvBmmd02rmZ0zfsfmHYvArfHFl7kbgI/zzaO++7EP39X/fXrXtN5x04zvdLAzq3QXemTj
RUcYYYQRHkF47+Xqq68Om9KNyPTwJh9/nblpxnfiW51T25RGGGGEEUYYYYQRRhhhhBFGGGGEEUYY
YYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGE
EUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYYYYQRRhhhhBFGGGGEEUYY4dGK/w8+uhyL
bWKVGwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0wN1QwMToyMTo0Mi0wNzowML4l9akAAAAl
dEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMDdUMDE6MjE6NDItMDc6MDDPeE0VAAAAAElFTkSuQmCC" />
          </svg>

        </div>
        <div id="kv-title-hello" class="kv-vertical-motion" style="text-align: center">初期費用０円、納期最短１秒、月額費1980円で<br>初心者でも簡単作成申込み！！</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
        <div id="kv-title-cycling" class="kv-vertical-motion">　</div>
      </div>
      <div class="glitter"></div>
      <div class="action kv-vertical-motion">
        <div class="btn btn-submit" style="display: block"><a href="/users/sign_in" target="_blank">ログイン</a>
        </div>
        <!--<div class="btn btn-search"><a href="#.jp/app/top" target="_blank"
                                         onclick="ga('send', 'event', 'STATION SEARCH', 'クリック', 'キービジュアル', 1);">活用事例を見てみる</a>
        </div>-->
        <!-- <div class="apli-link" style="text-align: center; max-width: 250px; margin: 10px auto 0;">
          <a class="ios"
             href="https://itunes.apple.com/jp/app/hello-cycling-%E3%81%A9%E3%81%93%E3%81%A7%E3%82%82%E5%80%9F%E3%82%8A%E3%82%8C%E3%82%8B%E8%87%AA%E8%BB%A2%E8%BB%8A%E3%82%B7%E3%82%A7%E3%82%A2/id1216653677?mt=8"
             style="display: block; float: left; padding: 10px;">
            <img style="width: 105px;" alt='Download on the App Store'
                 src='https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg'/>
          </a>
          <a class="android"
             href='locycling&hl=ja&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
             style="display: block; float: right;">
            <img style="width: 125px;" alt='Get it on Google Play'
                 src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
          </a>
        </div> -->
      </div>
      <!-- <div class="arrow-down">↓</div> -->
    </div>
    <div id="bg-cover"></div>
  </div>
  <main>
    <section class="section-wrap" id="concept">
      <div class="section-title vertical-title-motion">
        <p>コンセプト</p>
      </div>
      <div class="section-title vertical-title-motion" style="background: none; padding: 0px;">
        <h1>フリーランス時代のための<br>
          1秒で作れるブランディングWEBサイトサービス</h1>
      </div>

      <div class="section-content">
        <div class="inner">
          <ul class="flow-list">
            <li class="flow01 vertical-motion">
              <div class="left">
                <div class="image1">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">Quality</p>
                <p class="flow-title">
                  名刺では伝わりきらないあなたの実績や魅力ををWEBサイトでおしゃれに表現
                </p>
                <p class="flow-text">
                  豊富なデザインから用意されたテンプレートの中からあなた好みのWEBサイトを作成。<br>
                  Onesecondのホームページ制作はデザイン力不要！！<br>簡単にブログ開設やSNSと連携が可能です。
                </p>
              </div>
            </li>
            <li class="flow02 vertical-motion">
              <div class="left">
                <div class="image1">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">Speed</p>
                <p class="flow-title">
                  フォーム送信から最速1秒でホームページを納品します
                </p>
                <p class="flow-text">One Secondの特徴は制作スピード。他者とは比較にならないスピードでホームページを作成・納品します
                </p>
              </div>
            </li>
            <li class="flow03 vertical-motion">
              <div class="left">
                <div class="image1">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">Reasonable</p>
                <p class="flow-title">初期費用０円、月額1980円でサポート受け放題
                </p>
                <p class="flow-text">一般的な制作会社よりも圧倒的に安い値段であなたのことをサポートします。<br>
                  レイアウト修正やコンテンツの悩み相談からドメインの取得まで一律料金で行います。
                </p>
              </div>
            </li>
            <!-- <li class="flow04 vertical-motion">
            <div class="left">
            <div class="image">
            <div class="glitter"></div>
            </div>
            </div>
            <div class="right">
            <div class="illust"></div>
            <p class="flow-headline">SUPPORT</p>
            <p class="flow-title">運用もサポート<br class="sp">いたします。</p>
            <p class="flow-text">運営に関わるご相談も受け付けております。</p>
            </div>
            </li> -->
          </ul>
        </div>
      </div>
    </section>

    <section class="section-wrap" id="links">
      <div class="inner">
        <h2 class="subtitle">参加企業</h2>
        <ul class="link-list">
          <li class="link-nakano"><a href="" class="hover" target="_blank">AKI OPEN</a></li>
          <li class="link-lacool"><a href="" class="hover" target="_blank">かんどころ</a></li>
          <!--<li class="link-ecomobi"><a href="https://ecomobi.hellocycling.jp/" class="hover" target="_blank"></a>-->
          <!--</li>-->
          <!--<li class="link-norisuke"><a href="https://norisuke.hellocycling.jp/" class="hover" target="_blank">のりすけ　さくらシェアリング</a>-->
          <!--</li>-->
          <!--<li class="link-bellsharing"><a href="https://bellsharing.hellocycling.jp/" class="hover"-->
          <!--target="_blank">Bell Sharing</a></li>-->
          <!--<li class="link-ecobike"><a href="https://ecobike.hellocycling.jp/" class="hover" target="_blank">エコバイク</a>-->
          <!--</li>-->
          <!--<li class="link-daichari"><a href="https://daichari.hellocycling.jp/" class="hover" target="_blank">ダイチャリ</a>-->
          <!--</li>-->
          <!--<li class="link-clover"><a href="https://clover.hellocycling.jp/" class="hover" target="_blank">CLOVER</a>-->
          <!--</li>-->
          <!--<li class="link-anabuki"><a href="https://anabuki.hellocycling.jp/" class="hover" target="_blank">anabuki</a>-->
          <!--</li>-->
        </ul>
      </div>
    </section>

    <section class="section-wrap" id="service">
      <div class="section-title vertical-title-motion">
        <h1></h1>
        <p>One Secondとは</p>
      </div>
      <div class="section-content">
        <div class="inner">
          <p class="headline vertical-title-motion">誰でも簡単にホームページ作成の申し込みが可能<br class="sp"><span
            class="pc"> </span>
          </p>
          <p class="text vertical-title-motion">One Secondはお客様がご入力頂いた情報を元にホームページを作成、<br class="pc">
            最短１秒でおしゃれなホームページをお客様にご提案させていただくサービスです。</br>
            デザインが気に入ればその場で発注して、その場で公開して完成！！</br>
            ホームページの制作にお手間を取らせません！！
          </p>
          <ul class="feature-list">
            <li class="feature01 vertical-motion">
              <div class="right">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="left">
                <div class="illust"></div>
                <p class="feature-number">POINT <span class="number">01</span></p>
                <p class="feature-title">フォームに入力するだけで<br>ホームページが手に入る！</p>
                <p class="feature-text">２ステップで皆様のお手元に<br>洗練されたホームページをお届けします。
                </p>
              </div>
            </li>
            <li class="feature02 vertical-motion">
              <div class="left">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="feature-number">POINT <span class="number">02</span></p>
                <p class="feature-title">気に入ったデザインがあれば<br class="pc">その場で公開可能！</p>
                <p class="feature-text">提案させて頂いたホームページがお気に召した場合<br class="pc">公開ボタンひとつですぐにホームページがあなたのモノに！！
                </p>
              </div>
            </li>
            <li class="feature03 vertical-motion">
              <div class="right">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="left">
                <div class="illust"></div>
                <p class="feature-number">POINT <span class="number">03</span></p>
                <p class="feature-title">お客さまのニーズに応える<br>多彩なオプション</p>
                <p class="feature-text">独自ドメイン指定可能!<br>ご希望であればロゴデザインや<br class="pc">URLを取得、利用など好きなようにカスタム可能！</p>
                <p class="feature-text">※別途利用料が掛かります。</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section class="section-wrap yellow" id="howtouse">
      <div class="section-title vertical-title-motion">
        <h1>HOW TO USE</h1>
        <p>ご利用方法</p>
      </div>
      <div class="section-content">
        <div class="inner">
          <ul class="step-list">
            <li class="step01 vertical-motion">
              <p class="step-number">STEP <span class="number">01</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon8.png" alt="STEP01 登録">
              </div>
              <p class="step-title">やることはフォームを入力するだけ！</p>
              <p class="step-text">フォームから社名や載せたい文章、写真の選択などを行ってもらいます</p>
            </li>
            <li class="step02 vertical-motion">
              <p class="step-number">STEP <span class="number">02</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon7.png" alt="STEP02 借りる">
              </div>
              <p class="step-title">選択する</p>
              <p class="step-text">弊社からお客様が入力したメールアドレス宛にホームページ候補をいくつかお届けするので<br>拝見してよく吟味してください<br>
                <span><a href="#.jp/time_price/">※プランの詳細についてはこちら</a></span></p>
            </li>
            <li class="step03 vertical-motion">
              <p class="step-number">STEP <span class="number">03</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon9.png" alt="STEP03 返却">
              </div>
              <p class="step-title">プランの購入</p>
              <p class="step-text">STEP02で気に入ったホームページがありましたら、その場でプラン購入、晴れて公開することが出来ます！</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section-wrap" id="search">
      <p class="search-text">フォーム入力はこちらをクリック！<br class="sp"><span class="pc"> </span> </p>
      <div class="action">
        <div class="btn btn-search"><a href="#contact">Click</a>
        </div>
      </div>
    </section>
    <section class="section-wrap" id="links">
      <div class="inner">
        <h2 class="subtitle">参加企業</h2>
        <ul class="link-list">
          <li class="link-nakano"><a href="" class="hover" target="_blank">AKI OPEN</a></li>
          <li class="link-lacool"><a href="" class="hover" target="_blank">かんどころ</a></li>
          <!--<li class="link-ecomobi"><a href="https://ecomobi.hellocycling.jp/" class="hover" target="_blank"></a>-->
          <!--</li>-->
          <!--<li class="link-norisuke"><a href="https://norisuke.hellocycling.jp/" class="hover" target="_blank">のりすけ　さくらシェアリング</a>-->
          <!--</li>-->
          <!--<li class="link-bellsharing"><a href="https://bellsharing.hellocycling.jp/" class="hover"-->
          <!--target="_blank">Bell Sharing</a></li>-->
          <!--<li class="link-ecobike"><a href="https://ecobike.hellocycling.jp/" class="hover" target="_blank">エコバイク</a>-->
          <!--</li>-->
          <!--<li class="link-daichari"><a href="https://daichari.hellocycling.jp/" class="hover" target="_blank">ダイチャリ</a>-->
          <!--</li>-->
          <!--<li class="link-clover"><a href="https://clover.hellocycling.jp/" class="hover" target="_blank">CLOVER</a>-->
          <!--</li>-->
          <!--<li class="link-anabuki"><a href="https://anabuki.hellocycling.jp/" class="hover" target="_blank">anabuki</a>-->
          <!--</li>-->
        </ul>
      </div>
    </section>















    <section class="section-wrap yellow" id="howtouse">
      <div class="section-title vertical-title-motion">
        <h1>下記の機能を初期費用0円、月額1980円で利用可能！</h1>
        <p>豊富なオプションご紹介！</p>
      </div>
      <div class="section-content">
        <div class="inner">
          <ul class="step-list">
            <li class="step01 vertical-motion">
              <p class="step-number">PART <span class="number">01</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon8.png" alt="STEP01 登録">
              </div>
              <p class="step-title">入力作業不要</p>
              <p class="step-text">〜フォーム送信から1秒でサイトは完成します〜</p>
            </li>
            <li class="step02 vertical-motion">
              <p class="step-number">PART <span class="number">02</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon7.png" alt="STEP02 借りる">
              </div>
              <p class="step-title">デザイン力不要・スマホ対応済 </p>
              <p class="step-text">〜自分で作らないからおしゃれ〜<br>
            </li>
            <li class="step03 vertical-motion">
              <p class="step-number">PART <span class="number">03</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon9.png" alt="STEP03 返却">
              </div>
              <p class="step-title">デザイン変更無料 </p>
              <p class="step-text">〜作成後もボタン１つでテンプレートを変更しデザイン変更可能〜</p>
            </li>
          </ul>
          <ul class="step-list">
            <li class="step01 vertical-motion">
              <p class="step-number">PART <span class="number">04</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon1.png" alt="STEP01 登録">
              </div>
              <p class="step-title">文章変更自由・無料 </p>
              <p class="step-text">〜ログインしてサイト情報の変更を簡単に出来ます〜</p>
            </li>
            <li class="step02 vertical-motion">
              <p class="step-number">PART <span class="number">05</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon2.png" alt="STEP02 借りる">
              </div>
              <p class="step-title">最低利用期間なし</p>
              <p class="step-text"> 〜始めたい時に始めてやめたい時にやめれます〜<br>
            </li>
            <li class="step03 vertical-motion">
              <p class="step-number">PART <span class="number">06</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon6.png" alt="STEP03 返却">
              </div>
              <p class="step-title">独自ドメイン料金込み </p>
              <p class="step-text">〜独自ドメイン取得も申し込み時に可能です〜</p>
            </li>
          </ul>
          <ul class="step-list">
            <li class="step01 vertical-motion">
              <p class="step-number">PART <span class="number">07</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon3.png" alt="STEP01 登録">
              </div>
              <p class="step-title">アクセス解析無料</p>
              <p class="step-text"> 〜Googleアナリティクスとの連携が簡単に出来ます〜</p>
            </li>
            <li class="step02 vertical-motion">
              <p class="step-number">PART <span class="number">08</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon5.png" alt="STEP02 借りる">
              </div>
              <p class="step-title">超高速レスポンス </p>
              <p class="step-text">〜WEBサイトの表示速度は、世界最速レベル〜<br>
            </li>
            <li class="step03 vertical-motion">
              <p class="step-number">PART <span class="number">09</span></p>
              <div class="image">
                <div class="glitter"></div>
                <img src="/assets/top/icon4.png" alt="STEP03 返却">
              </div>
              <p class="step-title">テンプレのアップデート</p>
              <p class="step-text">〜お使いいただけるテンプレートは随時更新します〜</p>
            </li>
          </ul>
        </div>
      </div>
    </section>








    <section class="section-wrap" id="howitworks">
      <div class="section-title vertical-title-motion">
        <!-- <span class="before">企業の方へ</span> -->
        <h1> 個人でビジネス活動をする方へ</h1>
        <!-- <p>運営について</p> -->
      </div>
      <div class="section-content">
        <div class="inner">
          <ul class="flow-list">
            <li class="flow01 vertical-motion">
              <div class="left">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">Value</p>
                <p class="flow-title">
                  WEBサイトを持ちたいけれども、<br>制作会社に依頼すると値段が高くて困る。
                </p>
                <p class="flow-text">
                  一般的なWEBサイト制作会社の値段はただでさえ高く、<br>
                  オプションを付けるとさらに高額になることも。<br>
                  One Secondはそんな低価格で明瞭表示。表示されている金額以外は頂きません。
                </p>
              </div>
            </li>
            <li class="flow02 vertical-motion">
              <div class="left">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">TIME</p>
                <p class="flow-title">
                  すぐにおしゃれなWEBサイトが欲しいのに<br>
                  発注してから1ヶ月掛かると言われた。
                </p>
                <p class="flow-text">
                  WEBサイトは発注してから１ヶ月〜３ヶ月かかることなんてよくあります。<br>
                  そんなに長い打ち合わせ必要ありますか？One Secondは直ぐに納品。<br>
                  気に入らなければ何度でも再作成可能。
                </p>
              </div>
            </li>
            <li class="flow03 vertical-motion">
              <div class="left">
                <div class="image">
                  <div class="glitter"></div>
                </div>
              </div>
              <div class="right">
                <div class="illust"></div>
                <p class="flow-headline">BRANDING</p>
                <p class="flow-title">
                  SNSに貼れるおしゃれなセルフブランディングになるサイトが欲しい
                </p>
                <p class="flow-text">
                  SNSページをWEBサイト代わりにしてしまっている<br>
                  名刺ではアピールしきれない実績や経歴をwebサイトでおしゃれに表現したい<br>
                  LINEで紹介されることが増えた。このときに文章で自己紹介するのをやめたい
                </p>
              </div>
            </li>
            <!-- <li class="flow04 vertical-motion">
            <div class="left">
            <div class="image">
            <div class="glitter"></div>
            </div>
            </div>
            <div class="right">
            <div class="illust"></div>
            <p class="flow-headline">SUPPORT</p>
            <p class="flow-title">運用もサポート<br class="sp">いたします。</p>
            <p class="flow-text">運営に関わるご相談も受け付けております。</p>
            </div>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="section-title vertical-title-motion" style="padding-top: 0px; background:none;">
        <!-- <span class="before">企業の方へ</span> -->
        <h1>これらを1秒で解決！</h1>
        <!-- <p>運営について</p> -->
      </div>
    </section>


    <section class="section-wrap yellow" id="contact">
      <div class="section-title vertical-title-motion">
        <h1>CREATE</h1>
        <p>ホームページ作成フォーム</p>
      </div>
      <div class="section-content vertical-motion">
        <div class="inner">
          <p class="text">以下のフォームより必要事項、入力したい項目を入力してください。<br class="pc"></p>
          <div class="form-state-box">
            <ul class="form_state clearfix">
              <li class="step1 on">
                <div class="list_inner"><span>1</span>送信内容の入力</div>
              </li>
            </ul>
          </div>

          <div id="cstype_error" style="color: #ff0000; display:none">
            <p class="text">※お問合せ種別を選択してください</p>
          </div>
          <div id="form_content_wrap">
            <section class="form_step form_step1 on">
              <%= form_for @user do |f| %>
                <div class='container pb-5'>
                  <% if @user.errors.any? %>
                    <div id='error_explanation'>
                      <h2><%= pluralize(@user.errors.count, 'error') %> 箇所の誤りがあります。</h2>
                      <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>

                  <% end %>

                  <script src='https://ajaxzip3.github.io/ajaxzip3.js' charset='UTF-8'></script>
                  <%= f.hidden_field :password, :value => "test1234" %>
                  <%= f.hidden_field :password_confirmation, :value => "test1234" %>
                  <div class="form-left">
                    <div class='form-team my-2'>
                      <%= f.label :Email, class: "text-white" %>
                      <%= f.text_field :email, class: 'frame-none contact-form', placeholder: '例）email@example.com' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :名前, class: "text-white" %>
                      <%= f.text_field :name, class: 'frame-none contact-form', placeholder: '例）山田　太郎' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :HPタイトル, class: "text-white" %>
                      <%= f.text_field :title, class: 'frame-none contact-form', placeholder: '例）山田太郎オフィシャルサイト' %>
                    </div>
                    <br><br>


                    <div class='form-team my-2'>
                      <%= f.label :メニュー１, class: "text-white" %>
                      <%= f.text_field :menu1, class: 'frame-none contact-form', placeholder: '例）プロフィール' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :メニュー2, class: "text-white" %>
                      <%= f.text_field :menu2, class: 'frame-none contact-form', placeholder: '例）スキル' %>
                    </div>

                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :メニュー3, class: "text-white" %>
                      <%= f.text_field :menu3, class: 'frame-none contact-form', placeholder: '例）経歴' %>
                    </div>

                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :メニュー4, class: "text-white" %>
                      <%= f.text_field :menu4, class: 'frame-none contact-form', placeholder: '例）自己紹介' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :メニュー5, class: "text-white" %>
                      <%= f.text_field :menu5, class: 'frame-none contact-form', placeholder: '例）お問い合わせ' %>
                    </div>
                    <br><br>
                  </div>

                  <div class="form-right">
                    <div class='form-team my-2'>
                      <%= f.label :ヘッドライン1, class: "text-white" %>
                      <%= f.text_field :headline1, class: 'frame-none contact-form', placeholder: '例）オフィシャルサイト作成しました！' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :ヘッドライン2, class: "text-white" %>
                      <%= f.text_field :headline2, class: 'frame-none contact-form', placeholder: '例）次の全国大会出場予定です！応援お願いします！' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :ヘッドライン3, class: "text-white" %>
                      <%= f.text_field :headline3, class: 'frame-none contact-form', placeholder: '例）お気軽にお問い合わせからメールください' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :詳細１, class: "text-white" %>
                      <%= f.text_field :menu1_1, class: 'frame-none contact-form', placeholder: '例）名前：山田 太郎　ふりがな：やまだ たろう' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :詳細2, class: "text-white" %>
                      <%= f.text_field :menu2_1, class: 'frame-none contact-form', placeholder: '例）右利きでフォアハンドが得意です。ボレーに自信あります！' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :詳細3, class: "text-white" %>
                      <%= f.text_field :menu3_1, class: 'frame-none contact-form', placeholder: '例）2017年度最高ランク全国３５位' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :詳細4, class: "text-white" %>
                      <%= f.text_field :menu4_1, class: 'frame-none contact-form', placeholder: '例）1990年東京生まれ東京育ち、テニスは２歳からやってます' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :詳細5, class: "text-white" %>
                      <%= f.text_field :menu5_1, class: 'frame-none contact-form', placeholder: '例）お気軽にメールください！' %>
                    </div>
                    <br><br>

                  </div>


                  <!--
                                   <div class='form-team my-2'>
                      <%= f.label :見出し1, class: "text-white" %>
                      <%= f.text_field :heading2, class: 'frame-none contact-form', placeholder: '例）家族団らん' %>
                    </div>
                    <br><br>
                <div class="form-right">

                    <div class='form-team my-2'>
                      <%= f.label :小見出し1, class: "text-white" %>
                      <%= f.text_field :subheading1, class: 'frame-none contact-form', placeholder: '例）当店では最高ランクの牛肉を全国各地から取り揃えております。' %>
                    </div>
                    <br><br>
                    <div class='form-team my-2'>
                      <%= f.label :見出し2, class: "text-white" %>
                      <%= f.text_field :heading2, class: 'frame-none contact-form', placeholder: '例）豊富な肉メニュー' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :小見出し2, class: "text-white" %>
                      <%= f.text_field :subheading2, class: 'frame-none contact-form', placeholder: '例）牛肉はもちろん、豚肉、鶏肉、羊肉まで扱ってますのでお肉好きは絶対に満足させてお帰りいただけると存じます' %>
                    </div>
                    <br><br>


                    <div class='form-team my-2'>
                      <%= f.label :見出し3, class: "text-white" %>
                      <%= f.text_field :heading3, class: 'frame-none contact-form', placeholder: '例）豊富なサイドメニュー' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :小見出し3, class: "text-white" %>
                      <%= f.text_field :subheading3, class: 'frame-none contact-form', placeholder: '例）お肉だけではなく、サイドメニューも充実！自家製キムチから締めの冷麺、最後にデザートまで、お任せあれ！' %>
                    </div>
                    <br><br>


                    <div class='form-team my-2'>
                      <%= f.label :見出し4, class: "text-white" %>
                      <%= f.text_field :heading4, class: 'frame-none contact-form', placeholder: '例）伝統の味' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :小見出し4, class: "text-white" %>
                      <%= f.text_field :subheading4, class: 'frame-none contact-form', placeholder: '例）創業から１０年、変わらぬタレの味でお客様を魅了しています。' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :見出し5, class: "text-white" %>
                      <%= f.text_field :heading5, class: 'frame-none contact-form', placeholder: '例）豪華絢爛' %>
                    </div>
                    <br><br>

                    <div class='form-team my-2'>
                      <%= f.label :小見出し5, class: "text-white" %>
                      <%= f.text_field :subheading5, class: 'frame-none contact-form', placeholder: '例）盛り付けにもこだわる職人魂！' %>
                    </div>
                    <br><br>
                  </div>-->

                  <%= f.submit '登録する', style: "    padding: 20px;
    background: #FF5722;
    border-radius: 40px;
    color: white;
    width: 100%;
    float: right;
    font-size: 20px;", class: "send-button", data: {confirm: '一度登録すると変更できない項目があります。本当に登録してもよろしいででしょうか？'}, id: 'formButton' %>
                </div>

              <% end %>

            </section>
            <!-- form_1 end -->
          </div><!-- /#form_content_wrap -->
        </div>

      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="inner">
      <div class="pagetop"><a href="index.html#">PAGETOP</a></div>
      <ul class="footnav">
        <li><a href="#.jp/app/terms" target="blank">TERMS OF USE</a></li>
        <li><a href="#.jp/privacypolicy/">PRIVACY POLICY</a></li>
        <li><a href="#.jp/company">COMPANY</a></li>
        <li><a href="#.jp/app/law">LAW</a></li>
        <!--
        <li class="social facebook"><a href="#">Facebook</a></li>
        <li class="social twitter"><a href="#">Twitter</a></li>
      -->
      </ul>
    </div>
  </footer>
</div>
<script>

    var _chaq = _chaq || [];

    _chaq['_accountID'] = 2664;

    (function (D, s) {

        var ca = D.createElement(s)

            , ss = D.getElementsByTagName(s)[0];

        ca.type = 'text/javascript';

        ca.async = !0;

        ca.setAttribute('charset', 'utf-8');

        var sr = 'https://v1.chamo-chat.com/chamovps.js';

        ca.src = sr + '?' + parseInt((new Date) / 60000);

        ss.parentNode.insertBefore(ca, ss);

    })(document, 'script');

</script>
<script>
    $(function () {
        $('.send-button').click(function () {
            if (!$(this).hasClass("pop_up_btn")) {
                $(this).click(function () {
                    return false;
                });
            }
        });
    });
</script>

</body>
</html>
