
<!DOCTYPE html>
<!-- saved from url=(0028)# -->
<html class="no-js" lang="ja"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>焼肉AKI</title>
  <meta property="og:site_name" content="焼肉AKI">
  <meta property="og:title" content="焼肉AKI">
  <meta property="og:description"
        content="焼肉AKIで至福のディナー">
  <meta property="og:type" content="website">
  <meta property="og:url" content="#">
  <meta property="og:image" content="/assets/template1/icon_black.png">
  <meta name="description"content="焼肉AKI_filesで至福のディナー">
  <meta content="width=414" name="viewport">
  <link type="text/css" rel="stylesheet" href="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/global.css">
  <link rel="shortcut icon" href="/assets/template1/icon_black.png">

  <style type="text/css">.fancybox-margin {
    margin-right: 15px;
  }</style>
</head>
<body>

<div id="container" class="container">
  <header id="header">
    <div class="inner">
      <div id="headerBar">
        <!--<h1 class="logo"><a href="#">焼肉AKI</a></h1>-->
        <h1 class="logo">
          <div style="color: white !important; font-size: 24px;"><%= @user.title %>　</div>
        </h1>
        <div id="menuTrigger"></div>
      </div>
      <nav id="globalNav" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <ul class="nav navbar-nav">
          <li class="active"><a id="nav_top" href="#"><%= @user.menu1 %>　</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-expanded="false" id="nav_beef"
                                  href="#beef/"><%= @user.menu2 %>　<span class="caret"></span></a>

          </li>
          <li><a id="nav_pork" href="#pork/"><%= @user.menu3 %>　　</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-expanded="false" id="nav_chicken"
                                  href="#chicken/"><%= @user.menu4 %>　　<span class="caret"></span></a>

          </li>
          <li><a id="nav_contact" href="#contact/"><%= @user.menu5 %>　</a></li>
          <li class="sp"><a href="#privacypolicy.html">PRIVACY POLICY</a></li>
          <li class="sp"><a href="#company.html">利用規約</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <article id="topContent">

    <nav>
      <ul>
        <li class="block1 cur"></li>
        <li class="block2"></li>
        <li class="block4"></li>
        <li class="block5"></li>
        <li class="block7"></li>
        <li class="block9"></li>
        <li class="block10"></li>
      </ul>
    </nav>

    <section id="block1" class="scene fs" style="height: 858px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
      </div>
      <h1 class="hTxt">SURF</h1>
      <img id="scrT" src="/assets/template1/b1_scroll_text.png" alt="" style="visibility: inherit; opacity: 1;">
      <div id="scrA" style="visibility: inherit; opacity: 1;"><img src="/assets/template1/b1_scroll_arrow.png" alt=""
                                                                   style="visibility: inherit; opacity: 0.4356;">
      </div>
    </section>

    <section id="block2" class="scene">
      <img class="shape" src="/assets/template1/ホルスタインのイラスト.png" alt="">
      <h2 class="hTxt">BEEF</h2>

      <p>
        JRや東京メトロにつながる恵比寿駅（東京都渋谷区）から徒歩5分。<br>
        2005年にオープンしたのが、黄色ののれんに真紅の文字で店名が書かれた「焼肉チャンピオン」です<br>
        。「ミスジ」「ザブトン」「イチボ」「トウガラシ」等の希少部位をセールスポイントにした焼き肉店です。


      </p>
    </section>

    <section id="block3" class="fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
    </section>

    <section id="block4" class="scene">
      <img class="shape" src="/assets/template1/豚肉の部位イラスト (2).png" alt="">
      <div class="content">
        <strong>SCENE1</strong>
        <h2 class="hTxt">pork</h2>
        <p>
          部位の細分化による希少部位をセールスポイントとしたメニュー構成は焼肉チャンピオンが火付け役となり、<br>
          全国に流行したと言っても過言ではありません。<br>
          もちろん、それまでも牛一頭買いや牛枝肉を買い付けし、部位の細分化、希少部位をセールスポイントにする店は存在したはずですが、<br>
          「焼肉チャンピオン」は東京、しかも大人に人気の街である恵比寿という好条件が整い、<br>
          メディアにも取り上げられて露出され、希少部位が広まったのです。
        </p>
        <a class="hTxt" href="#buy/">BUY</a>
      </div>
    </section>

    <section id="block5" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="content">
        <img class="shape" src="/assets/template1/にわとりのフリーアイコン1 (1).png" alt="">
        <strong>SCENE2</strong>
        <h2 class="hTxt">checken</h2>

        <p>
          それまでの既存の焼き肉店は、「カルビ」「ロース」「タン」などのメニューが主流で、顧客ニーズに合致する必要部位だけを購入し、お店で切り分けて提供していました。<br>
          ところが一頭買いや牛枝肉で提供する店が増加し、徐々に希少部位も提供するようになりました。
        </p>
        <a class="hTxt" href="#rent/">RENT</a>
      </div>
    </section>

    <section id="block6">
    </section>

    <section id="block7" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="content">
        <img class="shape" src="/assets/template1/ホルスタインのイラスト (1).png" alt="">
        <strong>SCENE3</strong>
        <h2 class="hTxt">VACATION RENTAL</h2>

        <p>
          夏休み。2週間の逃避行。<br class="sp">息子を連れて、海の近くのこの家でバケーションレンタル。<br>
          「五つ星ホテルに連れていってやる」とうそぶいたが、ここの海と山、そして食べ物はそこに見劣りしない。<br>
          今日も、昨日も、サーフィン修行。<br class="sp">真っ黒に日焼けしたわが子が、心なしかグッと俺に似てきた気がする。
        </p>
        <a class="hTxt" href="#pork/">pork</a>
      </div>
    </section>

    <section id="block8">
    </section>

    <section id="block9" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -441.667);"></div>
      </div>
      <div class="bottom">
        <div class="content">
          <img class="shape" src="/assets/template1/マッチョアイコン5.png" alt="">
          <strong>SCENE4</strong>
          <h2 class="hTxt">chicken</h2>

          <p>
            場所はビーチフロント限定。ロングボードを収納できるガレージ付き。床材には無垢の木を使うこと。いざ家作りとなると、欲望は尽きない。<br>
            男のこだわりってやつが目を覚ました。その声に応えてもらい、ようやくできあがった家。わがままが詰まった、長屋造りの白亜の城だ。
          </p>
          <a class="hTxt" href="#chicken/">chicken</a>
        </div>
      </div>
    </section>

    <section id="block10" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="bottom">
        <div class="content">
          <img class="shape" src="/assets/template1/マッチョアイコン5 (2).png" alt="">
          <h2 class="hTxt">COMPANY CONCEPT</h2>

          「自分らしい自由な暮らし」。口で言うのは簡単ですが、一人ではなかなか実現しにくいものです。<br>
          私たちは、賃貸から売買、設計・施工、さらにはバケーションレンタルまで、“海や自然の中での住まい”を<br>
          サポートする水先案内役として、その人に合わせた住まいをご提案します。<br>
          「どんな家に住みたいか？」はもちろんのこと、「どんな人生を歩みたいか？」を、<br>
          存分に私たちにぶつけてください。あなただけの暮らしを、一緒につくりあげていきましょう。
          </p>
          <a class="hTxt" href="#company/">COMPANY</a>
        </div>
      </div>
    </section>

    <section id="block11">
      <div class="content">
        <h2 class="hTxt">取り扱い物件一覧</h2>
        <div class="topItems">
          <div class="item"><a href="#buy/detail/HIRAYA3/">
            <div class="thumb"><img src="/assets/template1/55.jpg"></div>
            <p class="text">カルビ</p>
            <div class="status cnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/mmh/">
            <div class="thumb"><img src="/assets/template1/53.jpg"></div>
            <p class="text">特大ハラミ</p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/shouse/">
            <div class="thumb"><img src="/assets/template1/16.jpg"></div>
            <p class="text">七輪焼き肉</p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/asoko/">
            <div class="thumb"><img src="/assets/template1/54.jpg"></div>
            <p class="text">あそこの角地</p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#rent/detail/WMH/">
            <div class="thumb"><img src="/assets/template1/52.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#rent/detail/taitoustyle/">
            <div class="thumb"><img src="/assets/template1/20.jpg"></div>
            <p class="text">太東スタイル</p>
            <div class="status icnFULL"></div>
          </a></div>
        </div>
      </div>
    </section>

    <div id="coverWhite" style="visibility: hidden; opacity: 0;"></div>

  </article>
  <footer id="footer">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#privacypolicy.html">PRIVACY POLICY</a></li>
          <li><a href="#company.html">COMPANY</a></li>
          <li><a href="#contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <small class="copyright">Copyright 2018 AKI TENNIS All Rights Reserved.</small>
    </div>
  </footer>
</div>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/jquery.min.js">\x3C/script>')
</script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/plugin.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/common.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/top.js"></script>


</body>
</html>
