<!DOCTYPE html>
<!-- saved from url=(0028)# -->
<html class="no-js" lang="ja"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title><%= @user.title %></title>
  <meta property="og:site_name" content="#{}">
  <meta property="og:title" content="<%= @user.title %>">
  <meta property="og:description"
        content="<%= @user.title %>で至福のディナー">
  <meta property="og:type" content="website">
  <meta property="og:url" content="#">
  <meta property="og:image" content="/assets/template1/icon_black.png">
  <meta name="description" content="<%= @user.title %>で至福のディナー">
  <meta content="width=414" name="viewport">
  <link type="text/css" rel="stylesheet" href="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/global.css">
  <link rel="shortcut icon" href="/assets/template1/icon_black.png">

  <style type="text/css">.fancybox-margin {
    margin-right: 15px;
  }</style>
</head>
<body>

<div id="container" class="container">
  <header id="header">
    <div class="inner">
      <div id="headerBar">
        <!--<h1 class="logo"><a href="#">焼肉AKI</a></h1>-->
        <h1 class="logo">
          <div style="color: white !important; font-size: 24px;"><%= @user.title %></div>
        </h1>
        <div id="menuTrigger"></div>
      </div>
      <nav id="globalNav" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <ul class="nav navbar-nav">
          <li class="active"><a id="nav_top" href="#"><%= @user.menu1 %>　</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-expanded="false" id="nav_beef"
                                  href="#beef/"><%= @user.menu2 %>　<span class="caret"></span></a>

          </li>
          <li><a id="nav_pork" href="#pork/"><%= @user.menu3 %>　　</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-expanded="false" id="nav_chicken"
                                  href="#chicken/"><%= @user.menu4 %>　　<span class="caret"></span></a>

          </li>
          <li><a id="nav_contact" href="#contact/"><%= @user.menu5 %>　</a></li>
          <li class="sp"><a href="#privacypolicy.html">プライバシーポリシー</a></li>
          <li class="sp"><a href="#company.html">利用規約</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <article id="topContent">

    <nav>
      <ul>
        <li class="block1 cur"></li>
        <li class="block2"></li>
        <li class="block4"></li>
        <li class="block5"></li>
        <li class="block7"></li>
        <li class="block9"></li>
        <li class="block10"></li>
      </ul>
    </nav>

    <section id="block1" class="scene fs" style="height: 858px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
      </div>
      <h1 class="hTxt"></h1>
      <img id="scrT" src="/assets/template1/b1_scroll_text.png" alt="" style="visibility: inherit; opacity: 1;">
      <div id="scrA" style="visibility: inherit; opacity: 1;"><img src="/assets/template1/b1_scroll_arrow.png" alt=""
                                                                   style="visibility: inherit; opacity: 0.4356;">
      </div>
    </section>

    <section id="block2" class="scene">
      <img class="shape" src="/assets/template1/ホルスタインのイラスト.png" alt="">
      <h2 class="hTxt"><%= @user.heading1 %></h2>

      <p><%= @user.subheading1 %></p>
    </section>

    <section id="block3" class="fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
    </section>

    <section id="block4" class="scene">
      <img class="shape" src="/assets/template1/豚肉の部位イラスト (2).png" alt="">
      <div class="content">
        <strong>SCENE1</strong>
        <h2 class="hTxt"><%= @user.heading2 %></h2>
        <p><%= @user.subheading2 %>
        </p>
      </div>
    </section>

    <section id="block5" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="content">
        <img class="shape" src="/assets/template1/にわとりのフリーアイコン1 (1).png" alt="">
        <strong>SCENE2</strong>
        <h2 class="hTxt"><%= @user.heading3 %></h2>

        <p><%= @user.subheading3 %> </p>
      </div>
    </section>

    <section id="block6">
    </section>

    <section id="block7" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="content">
        <img class="shape" src="/assets/template1/ホルスタインのイラスト (1).png" alt="">
        <strong>SCENE3</strong>
        <h2 class="hTxt"><%= @user.heading4 %></h2>

        <p><%= @user.subheading4 %> </p>
      </div>
    </section>

    <section id="block8">
    </section>

    <section id="block9" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -441.667);"></div>
      </div>
      <div class="bottom">
        <div class="content">
          <img class="shape" src="/assets/template1/マッチョアイコン5.png" alt="">
          <strong>SCENE4</strong>
          <h2 class="hTxt"><%= @user.heading5 %></h2>

          <p><%= @user.subheading5 %> </p>
        </div>
      </div>
    </section>

    <section id="block10" class="scene fs" style="height: 930px;">
      <div class="bg" style="transform: matrix(1, 0, 0, 1, 0, 930);">
        <div class="inner" style="transform: matrix(1, 0, 0, 1, 0, -775);"></div>
      </div>
      <div class="bottom">
        <div class="content">
          <img class="shape" src="/assets/template1/マッチョアイコン5 (2).png" alt="">
          <h2 class="hTxt"><%= @user.heading5 %></h2>
          <p style="color: aliceblue;"><%= @user.subheading5 %></p>
          <a class="hTxt" href="#company/">COMPANY</a>
        </div>
      </div>
    </section>

    <section id="block11">
      <div class="content">
        <h2 class="hTxt">商品一覧</h2>
        <div class="topItems">
          <div class="item"><a href="#buy/detail/HIRAYA3/">
            <div class="thumb"><img src="/assets/template1/55.jpg"></div>
            <p class="text"></p>
            <div class="status cnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/mmh/">
            <div class="thumb"><img src="/assets/template1/53.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/shouse/">
            <div class="thumb"><img src="/assets/template1/16.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#buy/detail/asoko/">
            <div class="thumb"><img src="/assets/template1/54.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#rent/detail/WMH/">
            <div class="thumb"><img src="/assets/template1/52.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
          <div class="item"><a href="#rent/detail/taitoustyle/">
            <div class="thumb"><img src="/assets/template1/20.jpg"></div>
            <p class="text"></p>
            <div class="status icnFULL"></div>
          </a></div>
        </div>
      </div>
    </section>

    <div id="coverWhite" style="visibility: hidden; opacity: 0;"></div>

  </article>
  <footer id="footer">
    <div class="inner">
      <nav>
        <ul>
          <li><a href="#privacypolicy.html">プライバシーポリシー</a></li>
          <li><a href="#company.html">COMPANY</a></li>
          <li><a href="#contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <small class="copyright">Copyright 2018 <%= @user.title %> All Rights Reserved.</small>
    </div>
  </footer>
</div>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/jquery.min.js">\x3C/script>')
</script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/plugin.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/common.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/yakiniku-aki/%E7%84%BC%E8%82%89AKI_files/top.js"></script>


</body>
</html>
