<!doctype html>
<html lang="en-GB" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="AKI TENNIS不動産">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="/assets/template2/icon_black.png">
  <meta property="og:description"
        content="AKI TENNIS不動産のオフィシャルサイトです。。">
  <link rel="shortcut icon" href="/assets/template2/icon_black.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @user.title %></title>
  <link rel='stylesheet' id='tej-all-css' href='/assets/template2/all.min.1526635475.css' type='text/css'
        media='all'/>
  <script>
  </script>
</head>
<body class="home page-template-default page page-id-77">
<div id='wrapper' style='color: black'>
  <header>
    <a href='index.html'>
      <h1><%= @user.title %></h1></a>
    <div class=home-logo>
      <h1 class=dt><%= @user.title %></h1>
      <h1 class=phone><%= @user.title %></h1>
    <span style='color: white; margin-top: 200px'><%= @user.subheading1 %></span>
    </div>
    <a href='index.html#' class='hamburger' style='color: #ffffff;'>o</a>
  </header>

  <div id='content' class="home page-template-default page page-id-77">
    <div id='splash'>
      <div class='skip-splash'><a href='index.html#' class='hamburger'>o</a></div>
      <div class=inner>
        <section class=splash-slideshow>
          <ul class=slides>
            <li>
              <img src='/assets/template2/gazo1.jpg'/>
              <span><%= @user.head_character1 %>/span>
            </li>
            <li>
              <img src='/assets/template2/gazo2.jpg'/>
              <span><%= @user.head_character2 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo3.jpg'/>
              <span<%= @user.head_character3 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo4.jpg'/>
              <span><%= @user.head_character4 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo5.jpg'/>
              <span><%= @user.head_character5 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo6.jpg'/>
              <span><%= @user.head_character6 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo7.jpg'/>
              <span><%= @user.head_character7 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo8.jpg'/>
              <span><%= @user.head_character8 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo9.jpg'/>
              <span><%= @user.head_character9 %></span>
            </li>
            <li>
              <img src='/assets/template2/gazo10.jpg'/>
              <span><%= @user.head_character10 %></span>
            </li>
          </ul>
        </section>
      </div>
    </div>


    <section class=slideshow>
      <div class=tint></div>
      <ul class=slides>
        <li>
          <img src='/assets/template2/gazo1.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo2.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo3.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo4.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo5.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo6.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo7.jpg'/>

        </li>
        <li>
          <img src='/assets/template2/gazo8.jpg'/>

        </li>
      </ul>
    </section>


  </div><!-- /#content -->
</div><!-- /#wrapper -->


<nav>
  <section class=nav-header>
    <a href='index.html'>
    <h1><%= @user.title %></h1></a>
    <a href='index.html#' class='hamburger'>x</a>
  </section>

  <div class='nav-links vc'>
    <div class=inner>
      <a href='' class=about style="text-transform: uppercase"><%= @user.menu1 %></a>
      <a href='' class=works style="text-transform: uppercase"><%= @user.menu2 %></a>
      <a href='' class=journal style="text-transform: uppercase"><%= @user.menu3 %></a>
      <a href='' class=studio style="text-transform: uppercase"><%= @user.menu4 %></a>
      <a href='' class=studio style="text-transform: uppercase"><%= @user.menu5 %></a>

      <div class=social-links>
        <a class=icon-instagram href='https://www.instagram.com/#/' target='_blank'></a>
        <a class=icon-twitter href='https://twitter.com/#' target='_blank'></a>
        <a class=icon-facebook href='https://www.facebook.com/pg/#-342678315818602'
           target='_blank'></a>
      </div>
    </div>
  </div>

</nav>


<footer>
</footer>

<script type='text/javascript' src='/assets/template2/jquery.1.12.4.js'></script>
<script type='text/javascript' src='/assets/template2/jquery-migrate.min.1.4.1.js'></script>
<script type='text/javascript' src='/assets/template2/all.min.1504594696.js'></script>
<script type='text/javascript' src='/assets/template2/wp-embed.min.4.9.8.js'></script>

<div id='loading-indicator'></div>
<div id='grid-overlay'>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

</body>
</html>
<!-- 60 queries in 0.610 seconds. -->