<style>
  .contact-form {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #37383b;
    padding-top: 2px;
    padding: 6px 12px;
    color: black;
  }
    .vod-mod-content{
      width: 50%;
      margin: auto;
    }
    .button {
      width: 100%;
      background: #00BCD4;
      margin: auto;
      padding: 20px;
      border-radius: 50px;
      color: white;
      font-size: 20px;
    }
</style>
<%= form_for @user do |f| %>
  <div class='vod-mod-content pb-5'>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> 箇所の誤りがあります。</h2>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <script src='https://ajaxzip3.github.io/ajaxzip3.js' charset='UTF-8'></script>


    <div class='my-2'>
      <%= f.label :HPタイトル, class: "text-white" %>
      <%= f.text_field :title, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>


    <div class='form-team my-2'>
      <%= f.label :メニュー１, class: "text-white" %>
      <%= f.text_field :menu1, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>
    <div class='form-team my-2'>
      <%= f.label :メニュー2, class: "text-white" %>
      <%= f.text_field :menu2, class: 'frame-none contact-form', id: 'last_name' %>
    </div>

    <br><br>
    <div class='form-team my-2'>
      <%= f.label :メニュー3, class: "text-white" %>
      <%= f.text_field :menu3, class: 'frame-none contact-form', id: 'last_name' %>
    </div>

    <br><br>
    <div class='form-team my-2'>
      <%= f.label :メニュー4, class: "text-white" %>
      <%= f.text_field :menu4, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :メニュー5, class: "text-white" %>
      <%= f.text_field :menu5, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :見出し1, class: "text-white" %>
      <%= f.text_field :heading1, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :小見出し1, class: "text-white" %>
      <%= f.text_field :subheading1, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>


    <div class='form-team my-2'>
      <%= f.label :見出し2, class: "text-white" %>
      <%= f.text_field :heading2, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :小見出し2, class: "text-white" %>
      <%= f.text_field :subheading2, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>


    <div class='form-team my-2'>
      <%= f.label :見出し3, class: "text-white" %>
      <%= f.text_field :heading3, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :小見出し3, class: "text-white" %>
      <%= f.text_field :subheading3, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>


    <div class='form-team my-2'>
      <%= f.label :見出し4, class: "text-white" %>
      <%= f.text_field :heading4, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :小見出し4, class: "text-white" %>
      <%= f.text_field :subheading4, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :見出し5, class: "text-white" %>
      <%= f.text_field :heading5, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team my-2'>
      <%= f.label :小見出し5, class: "text-white" %>
      <%= f.text_field :subheading5, class: 'frame-none contact-form', id: 'last_name' %>
    </div>
    <br><br>

    <div class='form-team text-center'>
      <%= f.submit '更新する', class: 'button', id: 'formButton' %>
    </div>

<% end %>
